@charset "utf-8";
@import "index.scss";


// MAIN #AGENCE
#agence {  
  // AGENCE NAME
  h2 { font-size: 1.8rem; font-weight: 600; text-align: center; padding: 1.4rem 0 1.4rem; 
    span { color: $sub;}
  }

  // AGENCE INFO
  .agenceTable { width: 100%; margin-bottom: 1.4rem; position: relative;
    
    // TEST FOR BLUR BACKGROUND IMAGE
    // 
    // &::before {
    //   content: "";
    //   background-image: url(../images/AgenceVannes.jpg);
    //   background-size: cover;
    //   position: absolute;
    //   top: 0px;
    //   right: 0px;
    //   bottom: 0px;
    //   left: 0px;
    //   opacity: 0.3;
    // }

    tr td { text-align: center; width: 50%; padding: 0; vertical-align: top;}
    

    // TEST FOR BLUR BACKGROUND IMAGE
    // 
    // INFO ON THE LEFT
    // .left { 
    //   img { width: 100%; height: 22rem; object-fit: cover;} 
    // }

    
    // INFO ON THE RIGHT
    .right { position: relative; text-align: center; 
      // padding-bottom: 3rem;
      padding-bottom: 10rem;

      h3 { font-size: 1rem; padding: .9rem .5rem 1.8rem;
        a { color: $text-dark;
          &:hover { color: $sub;}
        }
      }

      // SERVICE INFO
      .services {
        tr td { text-align: center; width: 50%; vertical-align: top;
          h4 { font-weight: 500;}
          > div { padding: 1.3rem .3rem 0;             
            .person-name { color: $sub;}
            a { color: $text-dark;
              &:hover { color: $sub;}
            }
          }
        }
      }
      // END OF SERVICE INFO

      // BUTTON TO MAP
      .buttons { position: absolute; bottom: 0; left: 0; right: 0; margin: 1.8rem auto 0;
        @include buttons; @include transition;
      }  

    }  
    // END OF INFO ON THE RIGHT

  }
}
// MAIN #AGENCE

// MAIN #AGENCE-MAP
#agence-map { text-align: center;
  // AGENCE NAME
  h2 { padding: 2rem 0 1.4rem; font-size: 1.8rem; font-weight: 600; text-align: center;
    span { color: $sub;}
  }

  // AGENCE MAP
  .map { 
    iframe { width: 100%; height: 360px; border: 1px solid $bars; box-sizing: border-box;}
  }

  // GOBACK BUTTON
  .buttons { 
    @include buttons; margin: 1rem auto;  @include transition;
    a { padding: .6rem 2.5rem;}
  }

}
// END OF MAIN #AGENCE-MAP

// AGENCE INFO
// #agence-bordeaux-3 { 
//   div { box-sizing: border-box;
//     img { float: left; width: 48%; height: auto;}
//     .contact { float: left; width: 50%; text-align: center; padding: 0;
//       h3 { font-size: 1rem; padding: .9rem 0 1.8rem;}
//       .service { float: left; 
//         h4 { font-weight: normal;}
//         > div { padding: 1.3rem .3rem 0;             
//           .person-name { color: $sub;}
//           a { color: $text-dark;
//             &:hover { color: $sub;}
//           }
//         }
//       }
//       .buttons { @include buttons; margin-top: 1.7rem auto;  @include transition;
//       }
//     }
//   }
//   p { font-size: .55rem; text-align: center; padding: .5rem; color: black; line-height: 1.5;
//     a { color: $sub; font-weight: bold;}
//   }
// }