@charset "utf-8";
@import "index.scss";

// MAIN #AGENCE
#contact { 

  // AGENCE BUTTON
  div .agencies { position:relative; float: left; width: 50%; height: auto; border: 1px solid $bars; box-sizing: border-box; overflow: hidden;

    img { width: 100%; height: 13rem; object-fit: cover; transition: transform .5s ease;}
    
    button { position: absolute; left: 50%; bottom: .95rem; min-width: 14.5rem; transform: translateX(-50%);
      @include buttons; @include transition; 
      a { padding: .75rem;}
    }

    // HOVER EFFECTS ON THE AGENCE IMAGES
    &:hover img { transform: scale(1.08); cursor: pointer;}
  }

  // NOTICE AT THE BOTTOM
  p { font-size: .9rem; text-align: center; padding: .5rem; color: black; line-height: 1.5;
    span { color: $sub; font-weight: bold;}
  }

}
// END OF MAIN #AGENCE


// MAIN #AGENCE (INDIVIDUAL AGENCE PAGE)
#agence {  

  // AGENCE NAME
  h2 { font-size: 1.8rem; font-weight: 600; text-align: center; padding: 1.4rem 0 1.4rem;
    span { color: $sub;}
  }

  // AGENCE INFO
  .agenceTable { width: 100%; margin-bottom: 1.4rem;
    tr td { text-align: center; width: 50%;  padding: 0; 
    }

    // INFO ON THE RIGHT
    .right { position: relative; text-align: center; padding-bottom: 6rem;
      h3 { font-size: 1.2rem; font-weight: 400; padding: .9rem .5rem 1.8rem;}

      // SERVICE INFO
      .services {
        tr td { text-align: center; width: 50%; padding-bottom: 1.5rem;
          > div { padding: 0 .3rem 0;
            .person-name { color: $sub;}

            a { color: $text-dark;
              &:hover { color: $sub;}              
            }

            p { font-weight: 700; padding: .5rem 0; margin: .5rem 0;}
          }
        }
      }
      // END OF SERVICE INFO

      // BUTTON TO MAP
      .buttons { position: absolute; left: 0; right: 0; bottom: 0; 
        @include buttons; margin: 1.8rem auto 0; @include transition;
      }

    }      
    // END OF INFO ON THE RIGHT

  }
  // END OF AGENCE INFO

}
// END OF MAIN #AGENCE (INDIVIDUAL AGENCE PAGE)