@charset "utf-8";

// CUSTOMIZED COLORS
$main: #4cb0b2;
$sub: #87c133;
$text: #ffffff;
$text-dark: #525451;
$text-hovered: #808080;
$bars: #707070;
$background: #e0e0e0ad;
$button_hover: #5a9b00;

// 
// MIXINS
// 

// BOX SHADOW
@mixin box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// BUTTONS
@mixin buttons { display: block; background: $sub; border: none; border-radius: 1.4rem;
  a { display: block; font-size: .95rem; color: white; padding: .75rem 3rem;}
  &:hover { background: #5a9b00;}
  &:focus { outline: none;}
}

// TRANSITION EFFECT
@mixin transition { 
  transition: all .5s ease;
}

// SCROLLBAR 
@mixin scrollbar($height) {
  &::-webkit-scrollbar { width: 6px;}
  &::-webkit-scrollbar-track { background: #bcbdbc;}
  &::-webkit-scrollbar-thumb { background: $sub; height: $height;
    &:hover { background: #5a9b00;}
  }
}

// SMOOTH PAGE TRANSITIONS
// APPEAR FROM RIGHT SIDE
@keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(-100%);}
  100% { opacity: 1; transform: none;}
}

// APPEAR FROM LEFT SIDE
@keyframes fadeInLeft {
  0% { opacity: 0; transform: translateX(100%);}
  100% { opacity: 1; transform: none;}
}

// APPEAR FROM SLOWLY
@keyframes slowAppear {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
// 
// END OF GLOBAL EFFECTS AND ACTIONS
// 


// DEFAULT FONT-SIZE
html { font-size: 20px; scroll-behavior: smooth;}
body { font-size: 1rem; max-width: 1440px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
* { color: $text-dark; box-sizing: border-box;}

// FLEXBOX FOR FULL HEIGHT
html, body { height: 100%; padding: 0; margin: 0 auto;}
.wrapper { display: flex; flex-direction: column; height: 100%;}
main { flex: 1;}


// HEADER
header { background: $main;

  // NEGOCIM LOGO
  h1 { float: left; padding: 5px; padding-left: 2rem;
    a img { display: block; width: 17rem; height: auto;}
  }

  // NAV MENU 
  .menu { float: right; padding-right: 6vw;
    ul { 
      li { float: left;
        a { display: block; font-size: .8rem; color: $text; padding: 1.3rem .5rem .3rem; position: relative; transition: all 0.5s; 
          &:hover { color: $text-dark;}
          &:before { content: ""; position: absolute; left: 30%; bottom: 0; width: 0; height: 1px; background: white; transition: all .5s;}  
          &:hover:before { width: 40%;}        
        }
        .active { color: $text;
          &:before { width: 40%;}
        }

        &:first-child a {padding-left: 0;} 
      }
    }
  }  
  // END OF NAV MENU

  // MENU BARS ON MOBILE VERSION
  #menu-toggle { display: none; float: right; padding: .8rem .8rem .5rem 0rem; cursor: pointer; z-index: 2;  
    .bar1, .bar2, .bar3 { 
      width: 35px; height: 5px; margin: 6px 0; background-color: $text; transition: 0.4s;
    }
  }
  // END OF MENU BARS ON MOBILE VERSION

  // MENU BAR ACTION ON MOBILE VERSION WHEN CLICKED
  .change .bar1 { transform: rotate(-45deg) translate(-9px, 6px);}    
  .change .bar2 { opacity: 0;}    
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }  
  // END OF MENU BAR ACTION ON MOBILE VERSION WHEN CLICKED

}
// END OF HEADER


// MAIN #TERRAINS
#terrains { position: relative;

  // FLOATING LIST LINKS ON THE LEFT
  #float-left { position: absolute; left: 3.5rem; top: 30%; z-index: 1;
    ul li { margin: .2rem 0;
      &:nth-child(1) i { color: #2e60ff;}
      &:nth-child(2) i { color: #929d3b;}
      &:nth-child(3) i { color: #149700;}
      &:nth-child(4) i { color: #930000;} 
    
      a { display: block; padding: .2rem 0 .8rem; border: none;
        i { font-size: 1rem; padding-right: .55rem;}
        span { font-size: 1rem; font-weight: bold;}
        &:hover span { color: $text-hovered;}
      }
    }
  }
  // END OF FLOATING LIST LINKS ON THE LEFT


  // MAP OF FRANCE
  .main-right { text-align: center; height: 100%; width: 100%; overflow: auto;
    .map { position: relative; height: 100%; width: 100%; padding: 5px;
      img { height: 100%; }

      // CLICKABLE AREAS IN THE MAP
      map {
        area { 
          // &:hover { outline-color: $button_hover; }
          &:focus { outline: none;}
        }
      }
      // END OF CLICKABLE AREAS IN THE MAP
      
      p { position: absolute; left: 0; right: 0; bottom: 1.5rem; font-size: .8rem; font-weight: bold; padding: 0 1rem;} 
    }
  }
  // END OF MAP OF FRANCE
}
// END OF MAIN

// FOOTER
footer { text-align: center; height: auto; line-height: 2.35rem; background: $main; 
  p { font-size: .8rem; color: $text;  
    a { font-size: .8rem; color: $text;
      &:hover { color: black;}
    }
    #legales { margin-right: 3rem; display: none;}
  }
}
// END OF FOOTER

// 
// POLITIQUE PAGE
// 
#politique {
  > div { padding: 1rem; margin: 1rem; background: $background; @include box-shadow;
    h2 { font-size: 1rem; text-align: center; padding: 1rem; margin-bottom: 1.5rem; background: white; border: 1px solid $bars;}
    .politique_content { font-size: 1rem; color: $text-dark;
      h2, h4, h5, p { text-align: justify; padding-bottom: 1.3rem;}
      h5 { text-decoration: underline; font-style: italic;}
      li { list-style: disc inside; padding-left: 1rem;}
    }
  } 
}
// END OF POLITIQUE PAGE

// 
// GLOBAL EFFECTS AND ACTIONS
// 

// SMOOTH HOVER EFFECT FOR ALL LINKS AND BUTTONS
a, button { transition: all .5s ease;}


// 
// PRINT A PAGE 
// 
@media print {
  body { 
    // PRINT BACKGROUND IMAGES AND COLORS
    -webkit-print-color-adjust: exact; 
    color-adjust: exact; // For Firefox

    // PRINT ONLY SELECTED ELEMENTS
    > div {

      // SMALLER HEADER HIEGHT
      header { 
        h1 { padding: .5rem 1rem;
          a img { width: 7rem}
        }
        nav { display: none;}
      } 
      // END OF SMALLER HEADER HIEGHT

      // REMOVE SIDEBAR ON THE LEFT & MAKE THE CONTENT ON THE RIGHT FULL WIDTH
      main {
        .main-right { width: 100% !important;
          > div { margin-left: 0 !important; margin-right: 0 !important;}
        }
        #sidebar-left { display: none !important;}
      }
      // END OF REMOVE SIDEBAR ON THE LEFT & MAKE THE CONTENT ON THE RIGHT FULL WIDTH

      // PLAN DU LOTISSEMENT PAGE
      #terrain_plan .main-right #plan_right {
        width: 90%; margin: 0 auto !important;
        > P { display: none;}
      }
      // END OF PLAN DU LOTISSEMENT PAGE

      // REMOVE SIDEBAR ON THE LEFT & MAKE THE CONTENT ON THE RIGHT FULL WIDTH
      #qui_sommes_nous .text {
        .list_left { display: none;}
        .text_right { width: 100%; padding: 0;}
      }
      // END OF REMOVE SIDEBAR ON THE LEFT & MAKE THE CONTENT ON THE RIGHT FULL WIDTH

      // SMALLDER FOOTER HEIGHT
      footer { height: 5px;
        p { display: none;}             
      }  
      // END OF SMALLDER FOOTER HEIGHT    
    }                      
  }
}