@charset "utf-8";
@import "index.scss";


// 
// FOR LARGER SIZE DEVICES (DESKTOPS)
// 
@media only screen and (max-width: 1240px) {  
 body .wrapper header {
    h1 { padding: .5rem 0 .5rem .5rem;
      a img { width: 16rem;}
    }   
    .menu { padding-right: 0;}
 } 

  // LEXIQUE
  #lexique > div .index #lexique-nav { justify-content: flex-start;} 
}


// 
// FOR LARGE SIZE DEVICES (DESKTOPS)
// 
@media only screen and (max-width: 1120px) {

  // GLOBAL
  html { font-size: 18px;
    body .wrapper header {
      // NEGOCIM LOGO
      h1 a img { width: 13.5rem;}
      
      .menu ul li a { padding: 1.3rem .45rem .3rem;}

      // NAV MENU
      .menu { padding-right: 0;}        
    }
  }


  // SIMULATEUR_STEPS > INDIVIDUAL STEP
  #simulateur_steps {
    .step4 .summary table { width: 80%;}
  }
  
  // INDEX PAGE > MAIN
  #terrains .main-right .map img { text-align: right;}  
  
  // #agence div .contact .services { font-size: 1.6vw;}
}


// 
// FOR MIDDLE SIZE DEVICES (TABLETS)
// 
@media only screen and (max-width: 940px) {
  
  // GLOBAL
  body { width: 100%;}

  html body .wrapper header {

    h1 { padding-left: 2rem;
      a img { width: 17rem;}
    } 

    // NAV MENU
    .menu {
      padding-right: 0rem;
      position: fixed; /* Stay in place */
      z-index: 100; /* Sit on top */
      right: 0;
      top: 78px;
      width: 17rem;
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
      transition: transform .5s ease-in-out;
      transform: translateX(100%);
      
      ul { margin-left: 1rem;
        li { float: none; padding: 0 0 .8rem 0;
          .active:before { width: none;}
          a { display: inline-block; width: 100%;
            &:hover { color: white; }    
            &:before { content: none;}    
          }
          &:last-child { margin-bottom: 70px;}
        }
      }
    }    

    // SIDE MENU APPEAR
    .appear { transform: translateX(0);}

    // DISPLAY BURGER BUTTON 
    #menu-toggle { display: inline-block;}      
  }

  // OVERLAY WHEN SIDE MENU APPEARS
  .overlay{ position: fixed;} 

  // END OF GLOBAL  


  // INDEX PAGE > MAIN
  #terrains {
    //  FLOATING LINKS
    #float-left { position: static;  
      ul { display: flex; justify-content: space-around; margin: 1rem; border: 1px solid $sub;
        li a { padding: .5rem 0;}
      }
    }
    .main-right { height: auto;
      .map img { max-width: 100%; height: auto;}
    }
  }

  // TERRAIN_ PAGE / TERRAIN_PRESENTATION PAGE > MAIN
  main {
    #sidebar-left { width: 12rem; padding: 1rem .5rem;
      h2 a { font-size: 1.5rem;}
    }
    .main-right { width: calc(100% - 12rem);}
  }

  // TERRAIN_PLAN PAGE > MAIN
  #terrain_plan_lot .main-right .lot_option .wrapper .up .lot_info header h2 { font-size: 1.4rem;}
  
  #terrain_grille .main-right .grille .wrapper table tr:nth-child(1) {
    th span:nth-child(1) { display: none;}
    th span:nth-child(2) { display: block;}
    th:nth-child(6),
    th:last-child { display: none;}
  }

  #terrain_grille .main-right .grille .wrapper table tr:nth-child(n+1) {
    td:nth-child(6),
    td:last-child { display: none;}
  }

  #terrain_grille .main-right .grille .wrapper table tr:nth-child(n+1):not(.active) {
    td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6)
    // td:last-child 
    { display: none;}
  }


  // SIMULATEUR
  #simulateur_steps { padding-bottom: 3rem; margin: 1.2rem 1rem;
    .steps > div { margin: 0; width: 100%;}
    .step2 .bottom table tr th, 
    .step2 .bottom table tr td {
      padding: 1.3rem .5rem 0;
    }   
    .step3 .help > div span:first-child { padding-right: 2rem;} 
  }

  // QUI_SOMMES_NOUS
  // LIST CONTENT ON THE RIGHT
  // #qui_sommes_nous .text .text_right { width: 75vw;}



}


// 
// FOR SMALL SIZE DEVICES (LARGE SMARTPHONES)
// 
@media only screen and (max-width: 770px) {

   // TERRAINS_SUB
 #terrain {
  #sidebar-left { width: 100%; position: static; background: white; border: none;
    animation: fadeInRight .3s ease-in;
     h2 { text-align: center; padding: 3rem 0 .5rem;
       a { font-size: 1.5rem; font-weight: bold; color: $text; background: $sub; border-radius: 20px; padding: 0 1rem;}
       &:hover a { color: $text-dark;}  
     }
  
     // H2 BACKGROUND IMAGES
     .tour { background: url(../images/AgenceTours.jpg) 0 46% / 100%;}
     .bordeaux { background: url(../images/Agencebordeaux-4.jpg) 0 46% / 100%;}
     .vannes { background: url(../images/AgenceVannes.jpg) 0 35% / 100%;}
     .orleanais { background: url(../images/AgenceOrleans.jpg) 0 46% / 100%;}
     //
  
     .sidebar-menu { overflow-y: visible; height: auto; margin-right: 0; margin-top: 0; margin-bottom: 4rem;
       .dropdown-btn { font-size: 1.2rem; text-align: center; color: $text-dark; background: white; padding: 1rem 0; transition: none;}
       .active { font-weight: 600;}
       .dropdown-content { text-align: center; padding: 0; padding-bottom: 1.5rem;           
         ul li {
           a {
             span{ font-size: .9rem; color: $text-dark; background: white;  }  
           }
         }
       }
     }
   }   
 }

 #terrain .main-right {display: none;}



  #terrains #float-left ul li a i { padding-right: .2rem;}


  // TERRAIN_SUB PAGES
  #terrain_presentation, 
  #terrain_plan,
  #terrain_plan_lot,
  #terrain_grille, 
  #terrain_document, 
  #terrain_option
   {
    // CONTENT ON THE RIGHT
    .main-right { width: 100%; height: auto; padding: .3rem; padding-top: 3rem;
      
      // LOTISSEMENT NAME ON MOBILE
      .lotissement_name { display: block;}
      
      #presentation {
        > div > p { padding-top: 0;}    
        // .column img { min-height: 81px;}
      }      
    }
  
    // SIDEBAR ON THE LEFT
    #sidebar-left { width: 100%; height: auto; position: static; background: white; border: none; 
      // animation: fadeInRight .3s ease-in;
       h2 { text-align: center; padding: 0; position: absolute; top: .5rem; left: 0; right: 0;
         a { font-size: 1.5rem; font-weight: bold; color: $text; padding: 0 1rem; background: $sub; border-radius: 20px; }
         &:hover a { color: $text-dark;}  
       }
    
       .sidebar-menu { height: auto; margin: 0; overflow-y: visible;
          button { background-color: $sub;  width: 80%; text-align: center; margin: .5rem auto;
            a { color: white; padding: .8rem 1rem;}
            i { color: white;}
            &:hover { background: $button_hover;}
          }
        
          // #itineraire { 
          //   a span { color: white;}           
          // }

          #visit, 
          #simulaer_un_credit, 
          #imprimer 
            { margin: .5rm auto; border-radius: 30px; border: 2px solid $sub; background: none; color: $sub;
              a { color: $sub; padding: .6rem 1rem;}
            }
          
          

          #visit a span { color: $sub;}

          #imprimer { padding: .6rem 1rem;;}

          // GOBACK BUTTON AT THE BOTTOM
          #goback { width: auto; margin: 2rem auto .5rem; position: static;
            a { padding: .4rem 2.5rem;}
          }
       }
     }   
   } 


  // TERRAIN_PLAN DU LOTISSEMENT
  #terrain_plan_lot .main-right { width: 100%;
    .lot_option .wrapper .up { display: block;
      .lot_info { margin: 0 auto;
        .lot_image_mobile { display: block;}

        // LOT INFORMATION TABLE
        .info_table { padding: .5rem 0; margin: 0 0 1rem;
          p { display: block;
            > span { display: inline-block; width: 49%; vertical-align: top;
              &:first-child { font-weight: bold; text-align: right; padding-right: .5rem;}
              &:nth-child(2) { text-align: left;}   
            }
          }
        }
      }

      .lot_image { margin-left: 0;
        > img { display: none;}
        button { display: block; position: static;
          a { padding: 1rem 2.5rem;}
          // padding: 0.5rem 1.5rem; 
          br { display: none;}
        }
        // VISITE VIRTUELLE BUTTON WHEN MAIN TAG HAS A CLASS "VISIT"
        .visite_virtuelle { width: 16rem;}
        // END OF VISITE VIRTUELLE
      }
    }
  }


  // #terrain_plan .main-right .lot_option .wrapper .up { display: block; margin: .5rem;}
  // #terrain_plan .main-right .lot_option .wrapper .up .lot_info #lot_image_mobile { display: inline-block;}
  // #terrain_plan .main-right .lot_option .wrapper .up .lot_image img { display: none;}
  // #terrain_plan .main-right .lot_option .wrapper .up .lot_image button { position: static; padding: .7rem 1.5rem;
  //   br { display: none;}
  // }
  // #terrain_plan .main-right .lot_option .wrapper .up .lot_info { margin: 0 auto;}
  // #terrain_plan .main-right .lot_option .wrapper .up .lot_info .info_table { margin: 1.5rem 0;
  //   p { display: block;
  //     > span { display: inline-block; width: 49%; vertical-align: top;
  //       &:first-child { font-weight: 600; text-align: right; padding-right: .5rem;}
  //       &:nth-child(2) { text-align: left;}   
  //     }
  //   }
  // }


  #terrain_option .main-right {
    .lotissement_name { display: none;}
    > div .wrapper { flex-direction: column;
      .option_left {
        > h2 { padding: 0; background: #e0e0e000; box-shadow: none;
          span { text-align: center !important; color: $sub; }
        }
        > div h2 { text-align: center;}
        .option { margin: 1rem 0;}
      }
      
      .option_right {
        h2 { display: block; }
        .option_contact-up { margin-bottom: 0;}
        > div { margin-left: 0;}
      }    
    }
  }
  
  

  // VENDES & CONTACT_SUB
  #agence .agenceTable tr .left { display: none;}
  #agence .agenceTable .right { padding-bottom: 3rem;
    tr td { width: 100%; padding: 1.5rem 0 3rem;}
  }

  // SIMULATEUR
  #simulateur .choice > div div p { text-align: center; padding-left: 0;}
  #simulateur .choice {
    #choice_terrain { background: url(../images/simuler_terrain.jpg) no-repeat center 67% / 129%;
      &:hover { background: url(../images/simuler_terrain.jpg) no-repeat center 67% / 138%;}
    }
  
    // CHOICE OF TERRAIN ET CONSTRUCTION ON THE RIGHT
    #choice_terrainConst { background: url(../images/simuler_terrain_construction.jpg) no-repeat center 82% / 129%;
      &:hover { background: url(../images/simuler_terrain_construction.jpg) no-repeat center 82% / 135%;}
    }
  }
  


  
  // SIMULATEUR STEPS
  #simulateur_steps { margin: .3rem;
    h1, h2 { font-size: 1.3rem;}
    .selectors { flex-wrap: wrap; padding: .5rem .5rem 1.5rem;
      > div { padding: .3rem; min-width: 250px;
        &:last-child { padding-right: .3rem; 
          // max-width: 50%; 
        }
      }      
    }
    .step1 .selectors .unit span { right: 14px; top: 7px;}
    .step2 .bottom { display: block;}
    .step2 .bottom .montant { justify-content: center;}
    .step2 .bottom table { width: auto;}  

    .step2 .selectors {
      > div { text-align: left;
        label { position: static; display: block; padding: 0 0 .5rem .3rem;}
        &:last-child { text-align: right; margin-top: 1rem;
          .calculer { width: 100%; margin-left: 0;}
        }
      }
      .unit span { right: 16px; top: 32px;}  
    }

    .step3 .selectors {
      > div { text-align: left;
        label { position: static; display: block; padding: 0 0 .5rem .3rem;}
        &:last-child { text-align: right; margin-top: 1.4rem;
          .calculer { width: 100%; margin-left: 0;}
        }
      }
      .unit span { right: 16px; top: 32px;}  
    }

    .step3 .help { flex-direction: column; padding: 0 .3rem;
      // padding: 0 .7rem;
      div span br {display: none;}
      button { width: fit-content;}    
      > div span:first-child { font-size: .8rem;}
    }   
  }  

  // QUI SOMMES
  #qui_sommes_nous .text { padding: 0; margin: 0;
    .list_left { display: none; }
    .text_right { width: 100%; height: auto; margin: 1.5rem auto; float: none; overflow-y: auto; direction: ltr;
      article:last-child { padding-bottom: 1rem;}
    }
  } 


  // LEXIQUE
  #lexique > div { padding: .8rem 1rem;}
}


// 
// FOR SMALLER SIZE DEVICES (SMARTPHONES)
// 
@media only screen and (max-width: 560px) {

  html body .wrapper header {
    h1 { padding-left: 1rem;
      a img { width: 13.5rem;}
    } 
    .menu { top: 66px}
  }

  // INDEX PAGE > MAIN 
  #terrains .main-right {display: none;}


  //ORIGINAL Li BACKGROUND ($SUB COLOR)
  // #terrains #float-left { height: 100%;
  //   ul { flex-direction: column; height: 100%; margin: 0; justify-content: center; border: none;
  //     li { text-align: center; margin: 1rem 2rem; background-color: $sub; border: 2px solid $sub; border-radius: 0 5rem  5rem 0; 
  //       a { padding: 1rem 0;
  //         i {display: none;}
  //         span { font-size: 1.2rem; color: white;}
  //       }
  //       &:hover { background-color: white; @include transition;
  //         a i span { color: $text-dark; }
  //       }
  //     }
  //   }
  // }

  // Li BACKGROUND USING IMAGES
  #terrains #float-left { height: 100%;
    ul { flex-direction: column; height: 100%; margin: 0; justify-content: center; border: none;
      li { position: relative; text-align: center; margin: .7rem 1rem; background-color: white; border: 2px solid $main; border-radius: 2px;
        a { padding: 1.5rem 0; z-index: 2; position: relative;
          i {display: none;}
          span { font-size: 1.5rem; color: white; padding: 0 1rem; border-radius: .5rem; background-color: $main; border: 2px solid $main;}
        }
        &:hover { @include transition;
          a span { @include transition; color: $main; background-color: white;}
          
        }
        // &:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: .5; z-index: 1;}
      }
      // SELECTION TABS BACKGROUND IMAGES
      .tour { background: url(../images/AgenceTours.jpg) 0 63% / 100%;}
      .bordeaux { background: url(../images/Agencebordeaux-4.jpg) 0 46% / 100%;}
      .vannes { background: url(../images/AgenceVannes.jpg) 0 27% / 100%;}
      .orleanais { background: url(../images/AgenceOrleans.jpg) 0 46% / 100%;}
    }      
  } 

  // TERRAINS SUB
  // #terrain #sidebar-left .sidebar-menu { 
  //   margin-right: 0rem;
  // }


#terrain_presentation .main-right #presentation { margin: 0;
  .btm { padding: .5rem .3rem;}
}

//  #terrain_plan .main-right .lot_option .wrapper .up .lot_info #lot_image_mobile { width: 70%;}
 #terrain_plan .main-right #plan_right { margin: 0;
  // .plan .plan_img { width: 539px; height: 623px;}
 }
 #terrain_plan .main-right #plan_right .plan .plan_img .lot .number { font-size: 50%;}

 #terrain_plan_lot .main-right .lot_option { margin: 0;}

//  #terrain_presentation #sidebar-left .sidebar-menu button, 
//  #terrain_plan #sidebar-left .sidebar-menu button { width: 100%; }

//  main #sidebar-left .sidebar-menu button { width: 100%;}

 #terrain_grille .main-right .grille { margin: 0;}
 #terrain_grille .main-right .grille .wrapper .notaire_geometre { display: block;}
 #terrain_grille .main-right .grille .wrapper .notaire_geometre .notaire { border-right: none; border-bottom: .5px dashed $bars;}


 #terrain_document .main-right .document { margin: 0;
  .wrapper div p { font-size: .8rem;}
} 

 #terrain_option .main-right > div { margin: .5rem 0;}

  // VENDES
  main .agencies { width: 100%; border-bottom: 5px solid white;
    img { height: 9rem;}
  }

  // VENDES & CONTACT_SUB
  #agence .agenceTable .right { 
    table, thead, tbody, th, td, tr { display: block;}
    .services tr td { width: 100%;}
  }

  // CONTACT 
  #contact .agencies { width: 100%; border-bottom: 5px solid white;
    img { height: 9rem;}
  }
  // #contact .left { display: none;}
  // #contact .right { float: none; width: 100%;}

  // SIMULATEUR
  #simulateur .choice > div { width: 100%; height: 57vw; border: 1px solid $bars; margin-bottom: 5px;}
  // #simulateur .choice > div > a > div { height: 20vw;}
  #simulateur .choice {
    #choice_terrain { background: url(../images/simuler_terrain.jpg) no-repeat center 67% / 100%;
      &:hover { background: url(../images/simuler_terrain.jpg) no-repeat center 67% / 108%;}
    }
  
    // CHOICE OF TERRAIN ET CONSTRUCTION ON THE RIGHT
    #choice_terrainConst { background: url(../images/simuler_terrain_construction.jpg) no-repeat center 82% / 100%;
      &:hover { background: url(../images/simuler_terrain_construction.jpg) no-repeat center 82% / 106%;}
    }
  }

  // #simulateur .choice #choice_terrain { background-position: 0% 75%; background-size:  100%;}
  // #simulateur .choice #choice_terrainConst { background-position: 0% 54%; background-size:  100%;}
  #simulateur .btm-txt { padding: .8rem 0;}

  #simulateur_steps { 
    .selectors { 
      > div { 
        &:last-child { max-width: none;}
      }
    } 
    .step2 .bottom .montant { justify-content: space-evenly;
      span { margin-right: 0; }
    } 
  
    .step3 .help { 
      button { width: 100%;}
      > div { padding-top: 1rem;
        span:first-child { padding-right: .5rem !important;}
      }
    }
  
  
    .step4 {
      .summary {
        table th, table td { font-size: .9rem;}
      }
      .final_price > div { display: block; margin-top: 1rem; margin-right: 0;
        > div {  width: 60%;  margin: 0 auto;}
      }  
    }
    
    .recap_table { 
      flex-direction: column; padding: 0;
      > div { 
        // width: 100%;
        h4 { font-size: .8rem; padding: 0 20px;}
        h4, p { display: inline-block;}
      }
      .flex1 { flex: 1; align-self: flex-start; 
      }
      .flex2 { flex: 1; margin: 0;  margin-bottom: 1rem;
        h4 { display: block; text-align: left; padding-left: 20px;}
        .grid { display: grid;
          .grid-item1, .grid-item2 { display: grid; grid-template-columns: repeat(6, 1fr); column-gap: .5rem;}
        }  
      }
      .flex3 { flex: 1; align-self: flex-start; 
      }
    }
  } 

  footer { 
    // height: 100%;
    p { 
      a { display: block;}
      #legales { margin-right: 0;}
    }
  }


  // QUI SOMMES NOUS
  #qui_sommes_nous .text {
    .list_left { display: none; }
    .text_right { width: 100%; height: auto; padding: 0; margin: 1.5rem auto; float: none; 
      // overflow-y: auto; direction: ltr;
      article { padding: .8rem .5rem;
        h3 { font-size: 1.2rem;}
      }
    }
  } 


  // LEXIQUE
  #lexique > div { padding-bottom: 2rem;
    .index { padding-bottom: 2rem;} 

    #lexique > div #lexique-contents .texts { padding-right: .5rem;
      h3 { padding-bottom: 1.5rem;}
      p { padding-bottom: 1.5rem; line-height: 1.5;}
    }  
  }
 


  // 
  #politique > div { margin: .5rem;}
}

