@charset "utf-8";
@import "index.scss";



@media only screen and (max-width: 1240px) {
  // LEXIQUE
  #lexique > div .index #lexique-nav { justify-content: flex-start;} 
}

// 1. LARGER DEVICES (DESKTOPS) 
//
// @media only screen and (max-width: 1100px) {
//   html 
//   .step4 .summary table { width: 80%;}
// }

// 2. LARGE DEVICES (LAPTOPS) 
//

@media only screen and (max-width: 1120px) {
  // GENERAL
  html { font-size: 18px;
    body {
      header h1 { padding-right: 0rem;}
      header .menu { float: right; padding-right: 1rem;}

    }
    .step3 .help > div span:first-child { padding-right: 2rem;}
    .step4 .summary table { width: 80%;}

  }
  
  // TERRAINS
  #terrains .main-right .map img { text-align: right;}  

  #agence-bordeaux-1 div .contact .services { font-size: 1.6vw;}
}



// 3. MIDDLE SIZE DEVICES (TABLETS) 
//
@media only screen and (max-width: 940px) {
  // GENERAL
  body { width: 100%;}
  header {
    // MENU 
    .menu {
      padding-right: 0rem;
      position: fixed; /* Stay in place */
      z-index: 100; /* Sit on top */
      right: 0;
      top: 64px;
      width: 17rem;
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
      transition: transform .5s ease-in-out;
      transform: translateX(100%);
      
      ul { margin-left: 1rem;
        li { float: none; padding: 0 0 .8rem 0;
          .active:before { width: none;}
          a { display: inline-block; 
            width: 100%;
            // padding: 1rem .6rem .4rem;
            &:hover { color: white; }    
            &:before { content: none;}    
          }
          &:last-child { margin-bottom: 70px;}
        }
      }  
    }    

    .appear { transform: translateX(0);}

    #menu-toggle { display: inline-block;}      
  }

  // OVERLAY WHEN MENU APPEARS
  .overlay{ position: fixed;}   


  // SIMULATEUR
  #simulateur_steps { margin: 1.2rem 1rem; padding-bottom: 3rem;}
  // .simulateur_steps .récapitulatif { width: 100%;}
  .steps > div { margin: 0; width: 100%;}

  .step2 .bottom table tr th, .step2 .bottom table tr td {
    padding: 1.3rem .5rem 0;
      
  .step3 .selectors, .step3 .help { width: 100%;}
  }


  // TERRAINS
  #terrains {
    #float-left { position: static;  
      ul { 
        display: flex; 
        justify-content: space-around; 
        margin: 1rem;
        border: 1px solid $sub;
        li a { padding: .5rem 0;}
      }
    }
    .main-right { height: auto;
      .map img { max-width: 100%; height: auto;}
    }
  }

  // TERRAINS SUBS
  #terrain, #terrain_presentation {
    #sidebar-left { width: 12rem;
    h2 a { font-size: 1.5rem;}
    }
    .main-right { width: calc(100% - 12rem);}
  }

  #terrain_plan .main-right .lot_option .wrapper .up .lot_info header h2 { font-size: 1.4rem;}
 
  // main #sidebar-left { width: 12rem;}
  // main #sidebar-left h2 a { font-size: 1.75rem;}
  // main .main-right { width: calc(100% - 12rem);}
 
  // qui_sommes-nous
  #qui_sommes-nous .text .text_right { width: 75vw;}

  // LEXIQUE
  #lexique > div { padding: .8rem 1rem;}

}


// 4. SMALL DEVICES (SMARTPHONES) 
//
@media only screen and (max-width: 770px) {

  #terrain_presentation, #terrain_plan {
    .main-right { width: 100%; height: auto; padding: .3rem; padding-top: 4rem;
      #presentation { padding: 0;
        > div > p { padding-top: 0;}    
      }
    }
  
    #sidebar-left { width: 100%; position: static; background: white; border: none; height: auto;
      animation: fadeInRight .3s ease-in;
       h2 { text-align: center; padding: 0; position: absolute; top: .5rem; left: 0; right: 0;
         a { font-size: 1.5rem; font-weight: bold; color: $text; background: $sub; border-radius: 20px; padding: 0 1rem;}
         &:hover a { color: $text-dark;}  
       }
    
       .sidebar-menu { overflow-y: visible; height: auto; margin-right: 0; margin-top: 0;
        button { color: white; background-color: $sub; padding: .8rem 1rem; width: 80%; text-align: center; margin: .5rem auto;}
       
        #simulaer_un_credit, #imprimer 
          { margin: .5rem auto; padding: .6rem 1rem; border-radius: 30px; border: 2px solid $sub; background: none; color: $sub;
            a { color: $sub;}
          }
        }
       .goback { margin: 2rem auto .5rem; position: static;}
     }   
   } 

  // TERRAIN_PLAN DU LOTISSEMENT
  #terrain_plan .main-right { width: 100%;}
  #terrain_plan .main-right .lot_option .wrapper .up { display: block; margin: .5rem;}
  #terrain_plan .main-right .lot_option .wrapper .up .lot_info #lot_image_mobile { display: inline-block;}
  #terrain_plan .main-right .lot_option .wrapper .up .lot_image img { display: none;}
  #terrain_plan .main-right .lot_option .wrapper .up .lot_image button { position: static; padding: .7rem 1.5rem;
    br { display: none;}
  }
  #terrain_plan .main-right .lot_option .wrapper .up .lot_info { margin: 0 auto;}
  #terrain_plan .main-right .lot_option .wrapper .up .lot_info .content {padding: 1rem 0.5rem;
    p { text-align: right; padding-right: 50%;
      span { text-align: left; left: 53%;
        span { left: 0;}
      }
    }
  }


  // VENDES & CONTACT_SUB
  #agence .agenceTable tr .left { display: none;}
  #agence .agenceTable .right { padding-bottom: 3rem;
    tr td { width: 100%; padding: 1.5rem 0 3rem;}
  }

  // QUI SOMMES
  #qui_sommes-nous .text .list_left { display: none; }
  #qui_sommes-nous .text .text_right { width: 100%; direction: ltr; margin: 1.5rem auto; float: none; overflow-y: auto; height: auto;}

  // SIMULATEUR
  #simulateur .choice .left { background-position: 44% 75%; background-size:  129%;}
  #simulateur .choice .right { background-position: 19% 54%; background-size:  129%;}
  #simulateur .choice > div div p { padding-left: 0; text-align: center;}


  
  // SIMULATEUR STEPS
  #simulateur_steps { margin: .3rem;
    h1, h2 { font-size: 1.3rem;}
    .selectors { flex-wrap: wrap; padding: .5rem .5rem 1.5rem;
      > div { padding: .3rem; min-width: 250px;
        &:last-child { padding-right: .3rem; 
          // max-width: 50%; 
        }
      }      
    }
    .step1 .selectors .unit span { right: 14px; top: 7px;}
    .step2 .bottom { display: block;}
    .step2 .bottom .montant { justify-content: center;}
    .step2 .bottom table { width: auto;}  

    .step2 .selectors {
      > div { text-align: left;
        label { position: static; display: block; padding: 0 0 .5rem .3rem;}
        &:last-child { text-align: right; margin-top: 1rem;
          .calculer { width: 100%; margin-left: 0;}
        }
      }
      .unit span { right: 16px; top: 32px;}  
    }

    .step3 .selectors {
      > div { text-align: left;
        label { position: static; display: block; padding: 0 0 .5rem .3rem;}
        &:last-child { text-align: right; margin-top: 1.4rem;
          .calculer { width: 100%; margin-left: 0;}
        }
      }
      .unit span { right: 16px; top: 32px;}  
    }

    .step3 .help { flex-direction: column; padding: 0 .3rem;
      // padding: 0 .7rem;
      div span br {display: none;}
      button { width: fit-content;}    
      > div span:first-child { font-size: .8rem;}
    }   
  }  
}

@media only screen and (max-width: 560px) {

  // TERRAINS 
  #terrains .main-right {display: none;}


  //ORIGINAL Li BACKGROUND ($SUB COLOR)
  // #terrains #float-left { height: 100%;
  //   ul { flex-direction: column; height: 100%; margin: 0; justify-content: center; border: none;
  //     li { text-align: center; margin: 1rem 2rem; background-color: $sub; border: 2px solid $sub; border-radius: 0 5rem  5rem 0; 
  //       a { padding: 1rem 0;
  //         i {display: none;}
  //         span { font-size: 1.2rem; color: white;}
  //       }
  //       &:hover { background-color: white; @include transition;
  //         a i span { color: $text-dark; }
  //       }
  //     }
  //   }
  // }

  // Li BACKGROUND USING IMAGES
  #terrains #float-left { height: 100%;
    ul { flex-direction: column; height: 100%; margin: 0; justify-content: center; border: none;
      li { position: relative; text-align: center; margin: .7rem 1rem; background-color: white; border: 2px solid $main; border-radius: 2px;
        a { padding: 1.5rem 0; z-index: 2; position: relative;
          i {display: none;}
          span { font-size: 1.5rem; color: white; padding: 0 1rem; border-radius: .5rem; background-color: $main; border: 2px solid $main;}
        }
        &:hover { @include transition;
          a span { @include transition; color: $main; background-color: white;}
          
        }
        // &:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: .5; z-index: 1;}
      }
      // SELECTION TABS BACKGROUND IMAGES
      .tour { background: url(../images/AgenceTours.jpg) 0 63% / 100%;}
      .bordeaux { background: url(../images/Agencebordeaux-4.jpg) 0 46% / 100%;}
      .vannes { background: url(../images/AgenceVannes.jpg) 0 27% / 100%;}
      .orleanais { background: url(../images/AgenceOrleans.jpg) 0 46% / 100%;}
    }      
  } 

  // TERRAINS SUB
  // #terrain #sidebar-left .sidebar-menu { 
  //   margin-right: 0rem;
  // }

  #terrain .main-right {display: none;}

    // TERRAINS_SUB
 #terrain {
  #sidebar-left { width: 100%; position: static; background: white; border: none;
    animation: fadeInRight .3s ease-in;
     h2 { text-align: center; padding: 3rem 0 .5rem;
       a { font-size: 1.5rem; font-weight: bold; color: $text; background: $sub; border-radius: 20px; padding: 0 1rem;}
       &:hover a { color: $text-dark;}  
     }
  
     // H2 BACKGROUND IMAGES
     .tour { background: url(../images/AgenceTours.jpg) 0 46% / 100%;}
     .bordeaux { background: url(../images/Agencebordeaux-4.jpg) 0 46% / 100%;}
     .vannes { background: url(../images/AgenceVannes.jpg) 0 35% / 100%;}
     .orleanais { background: url(../images/AgenceOrleans.jpg) 0 46% / 100%;}
     //
  
     .sidebar-menu { overflow-y: visible; height: auto; margin-right: 0; margin-top: 0;
       .dropdown-btn { font-size: 1.2rem; text-align: center; color: $text-dark; background: white; padding: 1rem 0; transition: none;}
       .active { font-weight: 600;}
       .dropdown-content { text-align: center; padding: 0; padding-bottom: 1.5rem;           
         ul li {
           a {
             span{ font-size: .9rem; color: $text-dark; background: white;  }  
           }
         }
       }
     }
     .goback { margin: 2rem auto .5rem; position: static;}
   }   
 }
 
 #terrain_plan .main-right .lot_option .wrapper .up .lot_info #lot_image_mobile { width: 70%;}
 #terrain_plan .main-right #lotissement_right .plan .plan_img { width: 539px; height: 630px;}


 #terrain_presentation #sidebar-left .sidebar-menu button, 
 #terrain_plan #sidebar-left .sidebar-menu button { width: 100%; }

  // VENDES
  main .agencies { width: 100%; border-bottom: 5px solid white;
    img { height: 9rem;}
  }

  // VENDES & CONTACT_SUB
  #agence .agenceTable .right { 
    table, thead, tbody, th, td, tr { display: block;}
    .services tr td { width: 100%;}
  }

  // CONTACT 
  #contact .agencies { width: 100%; border-bottom: 5px solid white;
    img { height: 9rem;}
  }
  // #contact .left { display: none;}
  // #contact .right { float: none; width: 100%;}

  // SIMULATEUR
  #simulateur .choice > div { width: 100%; height: 50vw; border: 1px solid $bars; margin-bottom: 5px;}
  // #simulateur .choice > div > a > div { height: 20vw;}
  #simulateur .choice .left { background-position: 0% 75%; background-size:  100%;}
  #simulateur .choice .right { background-position: 0% 54%; background-size:  100%;}
  #simulateur .btm-txt { padding: .8rem 0;}

  #simulateur_steps { 
    .selectors { 
      > div { 
        &:last-child { max-width: none;}
      }
    } 
    .step2 .bottom .montant { justify-content: space-evenly;
      span { margin-right: 0; }
    } 
  
    .step3 .help { 
      button { width: 100%;}
      > div { padding-top: 1rem;
        span:first-child { padding-right: .5rem !important;}
      }
    }
  
  
    .step4 {
      .summary {
        table th, table td { font-size: .9rem;}
      }
      .final_price > div { display: block; margin-top: 1rem; margin-right: 0;
        > div {  width: 60%;  margin: 0 auto;}
      }  
    }
    
    .recap_table { 
      flex-direction: column; padding: 0;
      > div { 
        // width: 100%;
        h4 { font-size: .8rem; padding: 0 20px;}
        h4, p { display: inline-block;}
      }
      .flex1 { flex: 1; align-self: flex-start; 
      }
      .flex2 { flex: 1; margin: 0;  margin-bottom: 1rem;
        h4 { display: block; text-align: left; padding-left: 20px;}
        .grid { display: grid;
          .grid-item1, .grid-item2 { display: grid; grid-template-columns: repeat(6, 1fr); column-gap: .5rem;}
        }  
      }
      .flex3 { flex: 1; align-self: flex-start; 
      }
    }
  } 

  footer { 
    // height: 100%;
    p { 
      a { display: block;}
      #legales { margin-right: 0;}
    }
  }


  // QUI SOMMES NOUS
  #qui_sommes-nous .text .text_right article h3 { font-size: 1.2rem;}



  // LEXIQUE
  #lexique > div .index { padding-bottom: 2rem;} 
  #lexique > div { padding-bottom: 2rem;}
  #lexique > div #lexique-contents .texts h3 { padding-bottom: 1.5rem;}
  #lexique > div #lexique-contents .texts p { padding-bottom: 1.5rem; line-height: 1.5;}
}



