@charset "UTF-8";
html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  max-width: 1440px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  color: #525451;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  background: #4cb0b2;
}

header h1 {
  float: left;
  padding: 1rem 5rem .8rem 1.3rem;
}

header h1 a img {
  display: block;
  width: 8.5rem;
  height: 1.75rem;
}

header .menu {
  float: left;
}

header .menu ul li {
  float: left;
}

header .menu ul li a {
  display: block;
  font-size: .8rem;
  padding: 1.3rem .6rem .4rem;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .menu ul li a:hover {
  color: #525451;
}

header .menu ul li a:before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .menu ul li a:hover:before {
  width: 40%;
}

header .menu ul li .active {
  color: #ffffff;
}

header .menu ul li .active:before {
  width: 40%;
}

header #menu-toggle {
  display: none;
  cursor: pointer;
  float: right;
  padding: 0.8rem .8rem .5rem 1.3rem;
  z-index: 2;
}

header #menu-toggle .bar1, header #menu-toggle .bar2, header #menu-toggle .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

header .change .bar2 {
  opacity: 0;
}

header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#terrains {
  position: relative;
}

#terrains #float-left {
  position: absolute;
  left: 3.5rem;
  top: 30%;
  z-index: 1;
}

#terrains #float-left ul li {
  margin: .2rem 0;
}

#terrains #float-left ul li:nth-child(1) i {
  color: #2e60ff;
}

#terrains #float-left ul li:nth-child(2) i {
  color: #929d3b;
}

#terrains #float-left ul li:nth-child(3) i {
  color: #149700;
}

#terrains #float-left ul li:nth-child(4) i {
  color: #930000;
}

#terrains #float-left ul li a {
  display: block;
  padding: .2rem 0 .8rem;
  border: none;
}

#terrains #float-left ul li a i {
  padding-right: .55rem;
  font-size: 1rem;
}

#terrains #float-left ul li a span {
  font-size: .9rem;
  font-weight: bold;
}

#terrains #float-left ul li a:hover span {
  color: #808080;
}

#terrains .main-right {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#terrains .main-right .map {
  height: 100%;
  width: 100%;
  padding: 5px;
  position: relative;
}

#terrains .main-right .map img {
  height: 100%;
}

#terrains .main-right .map p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  font-size: .8rem;
  font-weight: bold;
  padding: 0 1rem;
}

footer {
  text-align: center;
  background: #4cb0b2;
  height: 2.35rem;
  line-height: 2.35rem;
}

footer p {
  font-size: .8rem;
  color: #ffffff;
}

footer p a {
  font-size: .8rem;
  color: #ffffff;
}

footer p a:hover {
  color: black;
}

footer p #legales {
  margin-right: 3rem;
  display: none;
}

#politique > div {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #707070;
  background: #f7f5f5;
}

#politique > div h2 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 1px solid;
  background: white;
  text-align: center;
}

#politique > div .popup-text {
  font-size: 1rem;
  color: #525451;
}

#politique > div .popup-text h2, #politique > div .popup-text h4, #politique > div .popup-text h5, #politique > div .popup-text p {
  padding-bottom: 1.3rem;
}

#politique > div .popup-text h5 {
  text-decoration: underline;
  font-style: italic;
}

#politique > div .popup-text li {
  list-style: disc inside;
  padding-left: 1rem;
}

a, button {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slowAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slowAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#simulateur {
  margin: 0;
}

#simulateur h2 {
  padding: 1.25rem 0;
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center;
}

#simulateur .choice {
  text-align: center;
}

#simulateur .choice > div {
  float: left;
  width: 50%;
  height: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#simulateur .choice > div a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

#simulateur .choice > div div {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5.5rem;
  width: 100%;
}

#simulateur .choice > div div p {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: left;
  padding-left: 1.5rem;
  color: white;
}

#simulateur .choice > div:hover {
  border: 1px solid #87c133;
}

#simulateur .choice > div:hover:hover a div p {
  color: #525451;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#simulateur .choice .left {
  background: url(../images/simuler_terrain.jpg) no-repeat 0% 75%/100%;
}

#simulateur .choice .left a div {
  background: #87c133;
}

#simulateur .choice .left a div p {
  line-height: 5.5rem;
}

#simulateur .choice .right {
  background: url(../images/simuler_terrain_construction.jpg) no-repeat 0% 54%/100%;
}

#simulateur .choice .right a div {
  background: #4cb0b2;
}

#simulateur .choice .right a div p {
  line-height: 1.5;
}

#simulateur .btm-txt {
  font-size: .7rem;
  padding: 2rem 0 .8rem;
  text-align: center;
}

.simulateur_steps {
  margin: 1.2rem 3.65rem;
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
}

.simulateur_steps h1 {
  font-size: 1.7rem;
  color: #87c133;
  text-align: center;
}

.simulateur_steps .indicator {
  position: relative;
}

.simulateur_steps .indicator .step {
  display: inline-block;
  position: relative;
  margin: 0 13px;
}

.simulateur_steps .indicator .step span {
  position: absolute;
  text-align: center;
  height: 3px;
  width: 3px;
  background-color: #87c133;
  border: none;
  border-radius: 5px;
}

.simulateur_steps .indicator .step:first-child span {
  width: 30px;
  left: -10px;
  height: 3px;
}

.simulateur_steps h2 {
  font-size: 1.6rem;
  color: #87c133;
  text-align: left;
}

.simulateur_steps .selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.75rem 0;
}

.simulateur_steps .selectors > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 1.35rem;
}

.simulateur_steps .selectors > div:last-child {
  padding-right: 0;
}

.simulateur_steps .selectors > div select, .simulateur_steps .selectors > div input {
  padding: 0 .5rem;
  text-align: center;
  width: 100%;
  height: 1.7rem;
  border: 1px solid #707070;
  border-radius: 1rem;
}

.simulateur_steps .selectors > div select:focus, .simulateur_steps .selectors > div input:focus {
  outline: none;
}

.simulateur_steps .selectors > div input::-webkit-outer-spin-button,
.simulateur_steps .selectors > div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.simulateur_steps .selectors > div input[type="number"] {
  -moz-appearance: textfield;
}

.simulateur_steps .récapitulatif {
  width: 80%;
  margin-top: .8rem;
}

.simulateur_steps .récapitulatif table th {
  text-align: left;
}

.simulateur_steps .récapitulatif table th, .simulateur_steps .récapitulatif table td {
  font-size: .65rem;
  padding: .5rem 0;
}

.simulateur_steps .récapitulatif table th:nth-child(2) {
  padding-left: 1.6rem;
}

.simulateur_steps .récapitulatif table th:last-child {
  text-align: right;
  padding-left: 5rem;
}

.simulateur_steps .récapitulatif table td:last-child {
  text-align: right;
  padding-left: 5rem;
}

.simulateur_steps .récapitulatif table td:first-child {
  text-align: left;
}

.simulateur_steps .récapitulatif table .result td i {
  font-size: 1.5rem;
  color: #707070;
}

.simulateur_steps .btn_btm button {
  position: absolute;
  bottom: 0;
  min-width: 4.8rem;
  min-height: 1.65rem;
  display: block;
  background: #87c133;
  border-radius: 1.4rem;
  border: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.simulateur_steps .btn_btm button span {
  display: block;
  font-size: .65rem;
  color: white;
  padding: .35rem .9rem;
}

.simulateur_steps .btn_btm button:hover {
  background: #5a9b00;
}

.simulateur_steps .btn_btm button:focus {
  outline: none;
}

.simulateur_steps #previous {
  left: 0;
}

.simulateur_steps #next {
  right: 0;
}

.step1 .selectors .unit {
  position: relative;
}

.step1 .selectors .unit span {
  position: absolute;
  font-size: 1rem;
  right: 10px;
  top: 2px;
}

.step1 .bottom p {
  font-size: .65rem;
  padding-top: 1rem;
}

.step2 .selectors > div {
  position: relative;
}

.step2 .selectors > div label {
  color: #525451;
  font-size: .63rem;
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: bold;
}

.step2 .selectors > div select, .step2 .selectors > div input {
  padding: 0 .5rem;
  width: 100%;
  height: 1.7rem;
  border: 1px solid #707070;
  border-radius: 1rem;
}

.step2 .selectors > div select:focus, .step2 .selectors > div input:focus {
  outline: none;
}

.step2 .selectors > div .calculer {
  width: 6.4rem;
  height: 1.7rem;
  margin-left: 3.5rem;
  background: #87c133;
  border-radius: 1.4rem;
  border: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.step2 .selectors > div .calculer span {
  display: block;
  font-size: .65rem;
  color: white;
  padding: .35rem .9rem;
}

.step2 .selectors > div .calculer:hover {
  background: #5a9b00;
}

.step2 .selectors > div .calculer:focus {
  outline: none;
}

.step2 .selectors .unit {
  position: relative;
}

.step2 .selectors .unit span {
  position: absolute;
  font-size: 1rem;
  right: 35px;
  top: 2px;
}

.step2 > p {
  font-size: .65rem;
  padding-top: 1rem;
}

.step2 .bottom {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .6rem auto 0;
}

.step2 .bottom .montant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.step2 .bottom .montant span {
  font-size: .45rem;
  margin-right: 2rem;
}

.step2 .bottom .montant span p {
  font-size: 1.6rem;
  color: #87c133;
  padding-top: .5rem;
  font-weight: bold;
}

.step2 .bottom table {
  display: inline-block;
  text-align: left;
}

.step2 .bottom table tr th, .step2 .bottom table tr td {
  font-size: .6rem;
  font-weight: bold;
  height: 2rem;
  padding: 1.3rem 1.3rem 0;
  vertical-align: bottom;
}

.step2 .bottom table td input {
  margin-right: .4rem;
}

.step3 h2:first-of-type {
  text-align: center;
  padding: 0;
}

.step3 .selectors {
  padding: 2.75rem 0 1.75rem;
  width: 80%;
  margin: auto;
}

.step3 .selectors > div {
  position: relative;
}

.step3 .selectors > div:last-child {
  text-align: right;
}

.step3 .selectors > div label {
  color: #525451;
  font-size: .65rem;
  position: absolute;
  top: -30px;
  left: 0;
  font-weight: bold;
}

.step3 .selectors > div div {
  padding: 0 .5rem;
  min-width: 4.9rem;
  height: 1.7rem;
  border: 1px solid #707070;
  border-radius: 1rem;
}

.step3 .selectors > div div:focus {
  outline: none;
}

.step3 .selectors > div .calculer {
  width: 6.4rem;
  height: 1.7rem;
  margin-left: 1rem;
  background: #87c133;
  border-radius: 1.4rem;
  border: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.step3 .selectors > div .calculer span {
  display: block;
  font-size: .65rem;
  color: white;
  padding: .35rem .9rem;
}

.step3 .selectors > div .calculer:hover {
  background: #5a9b00;
}

.step3 .selectors > div .calculer:focus {
  outline: none;
}

.step3 .selectors .unit {
  position: relative;
}

.step3 .selectors .unit span {
  position: absolute;
  font-size: 1rem;
  right: 35px;
  top: 2px;
}

.step3 .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto 2rem;
}

.step3 .help button {
  display: inline-block;
  background: #87c133;
  border-radius: 1.4rem;
  border: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.step3 .help button span {
  display: block;
  font-size: .65rem;
  color: white;
  padding: .5rem 1.45rem;
}

.step3 .help button:hover {
  background: #5a9b00;
}

.step3 .help button:focus {
  outline: none;
}

.step3 .help > div span {
  display: inline-block;
  font-weight: bold;
}

.step3 .help > div span:first-child {
  font-size: .65rem;
  text-align: left;
  padding-right: 5rem;
}

.step3 .help > div span:last-child {
  font-size: 1.6rem;
  color: #87c133;
}

.step3 h2:nth-of-type(2) {
  padding-left: 3.5em;
}

.step3 .récapitulatif {
  margin: .8rem auto 0.2555rem;
}

.step3 > p {
  font-size: .65rem;
  padding-top: 1rem;
}

.step3 .bottom {
  padding-top: 1rem;
}

.step3 .bottom p {
  font-size: .65rem;
  font-weight: bold;
}

.step3 .bottom p span {
  color: #87c133;
}

.step4 .summary {
  margin: .5rem 0 2rem;
}

.step4 .summary table {
  width: 60%;
  margin: auto;
}

.step4 .summary table th, .step4 .summary table td {
  font-size: 1rem;
  color: #87c133;
  padding: .5rem;
  font-weight: 500;
}

.step4 .summary table td i {
  font-size: 1.5rem;
  color: #707070;
}

.step4 .final_price > div {
  display: inline-block;
  position: relative;
  margin-right: 1rem;
}

.step4 .final_price > div h4 {
  color: #525451;
  font-size: 1rem;
  padding-bottom: .5rem;
}

.step4 .final_price > div > div {
  padding: 0 .5rem;
  width: 9.9rem;
  height: 1.7rem;
  border: 1px solid #707070;
  border-radius: 1rem;
  position: relative;
}

.step4 .final_price > div > div span {
  position: absolute;
  font-size: 1rem;
  right: 7px;
  top: 2px;
}

.step4 .final_price .taux {
  margin-right: 0;
}

.step4 > p {
  font-size: .65rem;
  padding-top: 1rem;
}

.step4 .bottom p {
  font-size: .55rem;
  padding-top: 1rem;
}

.steps {
  display: none;
  -webkit-animation: slowAppear .5s ease-out;
          animation: slowAppear .5s ease-out;
}

.simulateur_steps .selectors > div input[type="number"] {
  padding: 0 1rem 0 3px;
}
