@charset "utf-8";
@import "index.scss";

// 
// MAIN #SIMULATEUR
// 
#simulateur { margin: 0;
  h2 { font-size: 1.7rem; font-weight: 600; text-align: center; padding: 1.25rem 0;}

  // CHOICE AREA
  .choice { text-align: center;
    > div { float: left; width: 50%; height: 360px; box-sizing: border-box; @include transition;
      > a { display: block;  position: relative; width: 100%; height: 100%;
       div { position: absolute; left: 0; bottom: 0; height: 4.5rem; width: 100%; 
        p { font-size: 1.6rem; font-weight: bold; text-align: left; color: white; padding-left: 1rem; @include transition;}
       }
      }
      &:hover { overflow: hidden; cursor: pointer;
        a div p { color: $text-dark;}
      }
    }

    // CHOICE OF TERRAIN ON THE LEFT
    #choice_terrain { background: url(../images/simuler_terrain.jpg) no-repeat center 67% / 100%; transition: all .5s ease;
      a div { background: $sub;
        p { line-height: 4.5rem;}
      }
      &:hover { background: url(../images/simuler_terrain.jpg) no-repeat center 67% / 108%;}
    }

    // CHOICE OF TERRAIN ET CONSTRUCTION ON THE RIGHT
    #choice_terrainConst { background: url(../images/simuler_terrain_construction.jpg) no-repeat center 82% / 100%; transition: all .5s ease;
      a div { background: $main; 
      }
      &:hover { background: url(../images/simuler_terrain_construction.jpg) no-repeat center 82% / 106%;}
    }

  }  
  // END OF CHOICE AREA

  // NOTICE AT THE BOTTOM
  .btm-txt { font-size: .7rem; text-align: center; padding: 2rem 0 .8rem;}
}
// END OF MAIN #SIMULATEUR


// 
// MAIN #SIMULATEUR STEPS
// 
// COMMON CODES FOR ALL STEPS
#simulateur_steps { display: none; position: relative; text-align: center; padding-bottom: 2rem; margin: 1.2rem 3.65rem; 
  
  // HEADER FOR ALL SIMULATEUR STEPS
  h1 { font-size: 1.7rem; text-align: center; color: $sub;}
  .indicator { position: relative;
    .step { display: inline-block; position: relative; margin: 0 13px;
      span { position: absolute;
        text-align: center; height: 3px; width: 3px; background-color: $sub; border: none; border-radius: 5px;
      }      
    }    
    .step:first-child span { width: 30px; height: 3px; left: -10px; }
  }
  // END OF HEADER FOR ALL SIMULATEUR STEPS

  // SIMULATUER STEPS
  .steps { display: none; animation: slowAppear .5s ease-out;
    .step_wrapper_up, 
    .step_wrapper_down 
    { display: none; animation: slowAppear .5s ease-out;}  
  }

  // SECTION TITLES
  h2 { font-size: 1.6rem; color: $sub; text-align: left;}

  // SELECTION SECTION
  .selectors { display: flex; padding: 2.75rem 0; justify-content: space-between;
    > div { flex: 1; padding-right: 1.35rem; 
      &:last-child { padding-right: 0;}
      select,input { 
        text-align: center; width: 100%; height: 1.7rem; padding: 0 1rem 0 .3rem; border: 1px solid $bars; border-radius: 1rem; 
        &:focus { outline: none;}
      }

      // HIDE INPUT NUMBER ARROWS
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none; margin: 0;
      }

      // INPUT NUMBER 
      input[type="number"]{
        padding: 0 1rem 0 3px;
        // HIDE INPUT NUMBER ARROWS IN FIREFOX BROWSER
        -moz-appearance: textfield;
      }        
    }      
  }

  //  Récapitulatif SECTION
  .recap_table { display: flex; flex-wrap: wrap; font-size: .6rem; padding: 1rem 0; width: auto;
    > div { align-items: flex-start;
        h4, p { margin: 1rem 0;}
    }

    // NATURE SLOT
    .flex1 { flex: 1;}

    // PROJECT SLOT
    .flex2 { flex: 8; margin: 0 2rem;
      h4 { text-align: left; padding-left: 3vw;}
      .grid { display: grid; grid-template-rows: 2rem;
        .grid-item1, .grid-item2 { 
          display: grid; grid-template-columns: repeat(6, 1fr); column-gap: .5rem;
        }
      }  
    }

    // TOTAL SLOT 
    .flex3 { flex: 1;}
  }
  
  // PREV & NEXT BUTTONS FOR ALL SIMULATUER STEPS
  .btn_btm button { display: block; min-width: 4.8rem; min-height: 1.65rem; background: $sub; border: none; border-radius: 1.4rem; transition: all .5s; 
    position: absolute; bottom: 0;
      span { display: block; font-size: .65rem; color: white; padding: .35rem .9rem;}
      &:hover { background: #5a9b00;}
      &:focus { outline: none;}      
    }
  // POSITIONING FOR EACH BUTTON
  #previous { left: 0;}
  #next { right: 0;}

}
// END OF COMMON CODES FOR ALL STEPS

// FOR INDIVIDUAL STEP
#simulateur_steps {
  
  // SIMULATEUR STEP 1 
  .step1 {
    .selectors { 
      .unit { position: relative;
        span { font-size: 1rem; position: absolute; right: 10px; top: 2px;}
      }
    }
    // NOTICE AT THE BOTTOM
    .bottom p { font-size: .65rem; padding-top: 1rem;}
  }
  // END OF SIMULATEUR STEP 1 

  // SIMULATEUR STEP 2
  .step2 {

    // SELECTOR
    .selectors { 
      > div { position: relative;
          label { font-size: .63rem; color: $text-dark; font-weight: bold; position: absolute; top: -30px; left: 0;}
          select, input { width: 100%; height: 1.7rem; padding-right:1.1rem; border: 1px solid $bars; border-radius: 1rem; 
            &:focus { outline: none;}
          }

          // CALCULER
          .calculer { width: 6.4rem; height: 1.7rem; margin-left: 3.5rem; background: $sub; border: none; border-radius: 1.4rem; transition: all .5s;
            span { display: block; font-size: .65rem; color: white; padding: .35rem .9rem;}
            &:hover { background: #5a9b00;}
            &:focus { outline: none;} 
          }
      }

      // UNIT FOR NUMBER INPUT
      .unit { position: relative;
        span { font-size: 1rem; position: absolute; right: 35px; top: 2px;} 
      }
    }  
    // END OF SELECTOR

    .bottom { display: flex; justify-content: center; margin: .6rem auto 0;
      //  MONTANT SECTION
      .montant {display: flex; align-items: flex-end;
        span { font-size: .45rem; margin-right: 2rem;
          p { font-size: 1.6rem; color: $sub; font-weight: bold; padding-top: .5rem;}
        }
      }

      //  QUESTION SECTION
      table { display: inline-block; text-align: left; width: auto;
        tr th, tr td { font-size: .6rem; font-weight: bold; height: 2rem;  padding: 1.3rem 1.3rem 0; vertical-align: bottom;}   
        td input { margin-right: .4rem;}
      }
    }
  }
  // END OF SIMULATEUR STEP 2

  // SIMULATEUR STEP 3
  .step3 {   
    h2:first-of-type { text-align: center; padding: 0;}
    
    // SELECTION SECTION
    .selectors { padding: 2.75rem 0 1.75rem; width: 80%; margin: auto;
      > div { position: relative;
        &:last-child { text-align: right;}
        label { color: $text-dark; font-size: .65rem; position: absolute; top: -30px; left: 0; font-weight: bold;}
        div { padding: 0 .5rem; min-width: 4.9rem; height: 1.7rem; border: 1px solid $bars; border-radius: 1rem; 
          &:focus { outline: none;}
        }

        // CALCULER
        .calculer { width: 6.4rem; height: 1.7rem; margin-left: 1rem;
          background: $sub; border-radius: 1.4rem; border: none; transition: all .5s;
          span { display: block; font-size: .65rem; color: white; padding: .35rem .9rem;}
          &:hover { background: #5a9b00;}
          &:focus { outline: none;} 
        }
      } 

      .unit { position: relative;       
        span { position: absolute; font-size: 1rem; right: 35px; top: 2px};
      }    
    }

    .help { display: flex; justify-content: space-between; width: 80%; margin: 0 auto 2rem;
      button { display: inline-block; background: $sub; border-radius: 1.4rem; border: none; transition: all .5s;
        span { display: block; font-size: .65rem; color: white; padding: .5rem 1rem;}
        &:hover { background: #5a9b00;}
        &:focus { outline: none;}
      }    
      > div {
          span { display: inline-block; font-weight: bold;
            &:first-child { font-size: .65rem; text-align: left; padding-right: 5rem;}
            &:last-child { font-size: 1.6rem; color: $sub;}
          }
      }   
    }

    > p { font-size: .65rem; padding-top: 1rem;}

    // NOTICE AT THE BOTTOM
    .bottom { padding-top: 1rem;
      p { font-size: .65rem; font-weight: bold;
        span { color: $sub;}
      }
    }
  }
  // END OF SIMULATEUR STEP 3

  // SIMULATEUR STEP 4
  .step4 { 
    // SUMMARY
    .summary { margin: .5rem 0 2rem;
      table { width: 60%; margin: auto;
        th, td { font-size: 1rem; color: $sub; padding: .5rem; font-weight: 500;}
        td i { font-size: 1.5rem; color: $bars;}
      }
    }

    // .final_price {
    //   > div { position: relative; margin-right: 1rem;
    //     h4 { font-size: 1rem; color: $text-dark; padding-bottom: .5rem;}
        
    //     div { text-align: center; width: 100%; height: 1.7rem; padding-right:1.1rem; border: 1px solid $bars; border-radius: 1rem; 
    //       &:focus { outline: none;}
    //     }
    //   }

    //     .unit {      
    //       span { position: absolute; font-size: 1rem; right: 35px; top: 2px};
    //     }

    //   .taux { margin-right: 0;}
    // }

    
    .final_price {
      > div { display: inline-block; position: relative; margin-right: 1rem;
        h4 { font-size: 1rem; color: $text-dark; padding-bottom: .5rem;}

        > input { display: block; text-align: center; width: 9.9rem; height: 1.7rem; padding: 0 .5rem; border: 1px solid $bars; border-radius: 1rem;
            &:focus { outline: none;}
          }
          span { font-size: 1rem; position: absolute; left: 174px; bottom: 5px;}
        }
      .taux { margin-right: 0;}
    }

    > p { font-size: .65rem; padding-top: 1rem;}

    // NOTICE AT THE BOTTOM
    .bottom p { font-size: .55rem; padding-top: 1rem;}
  }
  // END OF SIMULATEUR STEP 4
  
}
// END OF FOR INDIVIDUAL STEP


// 
// END OF MAIN #SIMULATEUR STEPS
// 