@charset "utf-8";
@import "index.scss";

 
// TERRAINS SUB 1 (Version 1)
#terrain { position: relative; 
  // div { 
    #sidebar-left { position: relative; float: left; width: 14rem; height: 100%; background-color: white; animation: fadeInRight .3s ease-in;
      h2 { padding: 1rem 0; text-align: center;
        a { font-size: 1.9rem; font-weight: bold; color: $main;}
        &:hover a { color: $text-dark;}  
      }
      .sidebar-menu { overflow-y: auto; min-height: 30%; max-height: calc(100% - 8rem); margin-right: .5rem; margin-bottom: 1rem; 
        .dropdown-btn { display: block; width: 100%; text-align: left; font-size: 1rem; cursor: pointer; color: $main; background: white; padding: .6rem .5rem .6rem 1.4rem; 
            &:hover { color: $text-dark;}
            &:focus { outline: none; }  // remove the button selector border
        }
        .active { font-weight: bold; color: $text-dark;}
        .dropdown-content { display: none; padding: 0 .5rem .3rem 2rem; animation: slowAppear .3s ease-in-out;
          ul li { 
            a {
              span{ position: relative; display: inline-block; color: $main; background: white; padding: .2rem 0;  font-size: .9rem; transition: all .3s;
                &:hover { color: $text-dark;}
              }
              &:focus { outline: none;}
            } 
            
            // VIRTUAL VISIT ICON (ADD CLASS NAME VISIT TO <li>)
            &.visit a span:before { content: url(../images/lotissement/vr_icon.png); position: absolute; top: 4px; left: -30px; }     
          }
        }
        
        @include scrollbar(auto);

        #goback { @include buttons; margin: 0 auto; position: absolute; left: 0; right: 0; width: auto; bottom: 1rem; color: $text; 
          a { padding: .4rem 2.5rem; font-size: .8rem;
            i { font-size: .7rem; color: white; padding-right: .3rem;} 
          }
        }
      }
    }


  // SPACE ON THE RIGHT FOR MAP IMAGE & GOOGLE MAP API
  .main-right { float: right; width: calc(100% - 14rem); text-align: center; min-height: 20rem; height: 100%; overflow: auto;
    .map { height: 100%; width: 100%; padding: .5rem; position: relative; 
      img { height: 100%; }
      p { position: absolute; left: 0; right: 0; bottom: 1.5rem; font-size: .8rem; font-weight: bold; padding: 0 1rem;} 
      iframe { height: 100%; width: 100%; border: 1px solid $sub; @include box-shadow;}
    }
  }
}
