@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes slowAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slowAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  max-width: 1440px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  color: #525451;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  background: #4cb0b2;
}

header h1 {
  float: left;
  padding: 5px;
  padding-left: 2rem;
}

header h1 a img {
  display: block;
  width: 17rem;
  height: auto;
}

header .menu {
  float: right;
  padding-right: 6vw;
}

header .menu ul li {
  float: left;
}

header .menu ul li a {
  display: block;
  font-size: .8rem;
  color: #ffffff;
  padding: 1.3rem .5rem .3rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .menu ul li a:hover {
  color: #525451;
}

header .menu ul li a:before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .menu ul li a:hover:before {
  width: 40%;
}

header .menu ul li .active {
  color: #ffffff;
}

header .menu ul li .active:before {
  width: 40%;
}

header .menu ul li:first-child a {
  padding-left: 0;
}

header #menu-toggle {
  display: none;
  float: right;
  padding: .8rem .8rem .5rem 0rem;
  cursor: pointer;
  z-index: 2;
}

header #menu-toggle .bar1, header #menu-toggle .bar2, header #menu-toggle .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

header .change .bar2 {
  opacity: 0;
}

header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#terrains {
  position: relative;
}

#terrains #float-left {
  position: absolute;
  left: 3.5rem;
  top: 30%;
  z-index: 1;
}

#terrains #float-left ul li {
  margin: .2rem 0;
}

#terrains #float-left ul li:nth-child(1) i {
  color: #2e60ff;
}

#terrains #float-left ul li:nth-child(2) i {
  color: #929d3b;
}

#terrains #float-left ul li:nth-child(3) i {
  color: #149700;
}

#terrains #float-left ul li:nth-child(4) i {
  color: #930000;
}

#terrains #float-left ul li a {
  display: block;
  padding: .2rem 0 .8rem;
  border: none;
}

#terrains #float-left ul li a i {
  font-size: 1rem;
  padding-right: .55rem;
}

#terrains #float-left ul li a span {
  font-size: 1rem;
  font-weight: bold;
}

#terrains #float-left ul li a:hover span {
  color: #808080;
}

#terrains .main-right {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#terrains .main-right .map {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5px;
}

#terrains .main-right .map img {
  height: 100%;
}

#terrains .main-right .map map area:focus {
  outline: none;
}

#terrains .main-right .map p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  font-size: .8rem;
  font-weight: bold;
  padding: 0 1rem;
}

footer {
  text-align: center;
  height: auto;
  line-height: 2.35rem;
  background: #4cb0b2;
}

footer p {
  font-size: .8rem;
  color: #ffffff;
}

footer p a {
  font-size: .8rem;
  color: #ffffff;
}

footer p a:hover {
  color: black;
}

footer p #legales {
  margin-right: 3rem;
  display: none;
}

#politique > div {
  padding: 1rem;
  margin: 1rem;
  background: #e0e0e0ad;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#politique > div h2 {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: white;
  border: 1px solid #707070;
}

#politique > div .politique_content {
  font-size: 1rem;
  color: #525451;
}

#politique > div .politique_content h2, #politique > div .politique_content h4, #politique > div .politique_content h5, #politique > div .politique_content p {
  text-align: justify;
  padding-bottom: 1.3rem;
}

#politique > div .politique_content h5 {
  text-decoration: underline;
  font-style: italic;
}

#politique > div .politique_content li {
  list-style: disc inside;
  padding-left: 1rem;
}

a, button {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  body > div header h1 {
    padding: .5rem 1rem;
  }
  body > div header h1 a img {
    width: 7rem;
  }
  body > div header nav {
    display: none;
  }
  body > div main .main-right {
    width: 100% !important;
  }
  body > div main .main-right > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  body > div main #sidebar-left {
    display: none !important;
  }
  body > div #terrain_plan .main-right #plan_right {
    width: 90%;
    margin: 0 auto !important;
  }
  body > div #terrain_plan .main-right #plan_right > P {
    display: none;
  }
  body > div #qui_sommes_nous .text .list_left {
    display: none;
  }
  body > div #qui_sommes_nous .text .text_right {
    width: 100%;
    padding: 0;
  }
  body > div footer {
    height: 5px;
  }
  body > div footer p {
    display: none;
  }
}

main #sidebar-left {
  position: relative;
  float: left;
  width: 14rem;
  height: 100%;
  background-color: white;
  padding: 1rem;
}

main #sidebar-left h2 {
  padding-bottom: 1rem;
  text-align: center;
}

main #sidebar-left h2 a {
  font-size: 1.9rem;
  font-weight: bold;
  color: #4cb0b2;
}

main #sidebar-left h2:hover a {
  color: #525451;
}

main #sidebar-left .sidebar-menu {
  margin-bottom: 4rem;
}

main #sidebar-left .sidebar-menu::-webkit-scrollbar {
  width: 6px;
}

main #sidebar-left .sidebar-menu::-webkit-scrollbar-track {
  background: #bcbdbc;
}

main #sidebar-left .sidebar-menu::-webkit-scrollbar-thumb {
  background: #87c133;
  height: auto;
}

main #sidebar-left .sidebar-menu::-webkit-scrollbar-thumb:hover {
  background: #5a9b00;
}

main #sidebar-left .sidebar-menu button {
  margin-bottom: .5rem;
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 0;
  background: white;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main #sidebar-left .sidebar-menu button a {
  display: block;
  font-size: .9rem;
  color: #4cb0b2;
  padding: .4rem .5rem;
}

main #sidebar-left .sidebar-menu button:hover a {
  color: #525451;
}

main #sidebar-left .sidebar-menu #itineraire i {
  color: #4cb0b2;
  padding-left: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

main #sidebar-left .sidebar-menu #itineraire:hover i {
  color: #525451;
}

main #sidebar-left .sidebar-menu .visite_virtuelle,
main #sidebar-left .sidebar-menu #simulaer_un_credit,
main #sidebar-left .sidebar-menu #imprimer {
  text-align: center;
  border-radius: 3px;
  background: #87c133;
}

main #sidebar-left .sidebar-menu .visite_virtuelle:hover,
main #sidebar-left .sidebar-menu #simulaer_un_credit:hover,
main #sidebar-left .sidebar-menu #imprimer:hover {
  background: #5a9b00;
}

main #sidebar-left .sidebar-menu .visite_virtuelle a,
main #sidebar-left .sidebar-menu #simulaer_un_credit a,
main #sidebar-left .sidebar-menu #imprimer a {
  font-size: 1rem;
  color: white;
}

main #sidebar-left .sidebar-menu .visite_virtuelle {
  font-weight: bold;
  font-style: italic;
}

main #sidebar-left .sidebar-menu .visite_virtuelle:hover a {
  color: white;
}

main #sidebar-left .sidebar-menu .visite_virtuelle img {
  width: 30px;
  padding-right: 10px;
  margin-left: -2rem;
}

main #sidebar-left .sidebar-menu #imprimer {
  font-size: 1rem;
  color: white;
  padding: .4rem .5rem;
}

main #sidebar-left .sidebar-menu #goback {
  display: block;
  background: #87c133;
  border: none;
  border-radius: 1.4rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  color: #ffffff;
  width: auto;
  margin: 0 auto;
}

main #sidebar-left .sidebar-menu #goback a {
  display: block;
  font-size: .95rem;
  color: white;
  padding: .75rem 3rem;
}

main #sidebar-left .sidebar-menu #goback:hover {
  background: #5a9b00;
}

main #sidebar-left .sidebar-menu #goback:focus {
  outline: none;
}

main #sidebar-left .sidebar-menu #goback a {
  font-size: .8rem;
  padding: .4rem 2.5rem;
}

main #sidebar-left .sidebar-menu #goback a i {
  font-size: .7rem;
  color: white;
  padding-right: .3rem;
}

main .main-right {
  width: calc(100% - 14rem);
  padding: .5rem;
  height: 100%;
}

main .main-right > * {
  height: 100%;
  padding: .5rem;
  background-color: #e0e0e0ad;
}

#terrain_single_page {
  position: relative;
}

#terrain_single_page .main-right {
  float: right;
  text-align: center;
}

#terrain_single_page .main-right .header {
  height: auto;
  margin-bottom: .5rem;
  background: white;
  border-top: 5px solid #e0e0e0ad;
  border-bottom: 5px solid #e0e0e0ad;
}

#terrain_single_page .main-right .header h2 i {
  color: #87c133;
}

#terrain_single_page .main-right .subheadings {
  color: white;
  padding: .5rem 0;
  margin-bottom: 1rem;
  background-color: #87c133 !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#terrain_single_page .main-right #presentation {
  position: relative;
  padding: .5rem;
  background-color: #e0e0e0ad;
  height: auto;
  margin-bottom: .7rem;
}

#terrain_single_page .main-right #presentation .visite_virtuelle {
  display: inline-block;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  width: 12rem;
  padding: .4rem .5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background: #87c133;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#terrain_single_page .main-right #presentation .visite_virtuelle:hover {
  background: #5a9b00;
}

#terrain_single_page .main-right #presentation .visite_virtuelle a {
  font-size: 1rem;
  color: white;
  margin-left: 1.3rem;
}

#terrain_single_page .main-right #presentation .visite_virtuelle a img {
  padding-right: 10px;
  margin-left: -2rem;
}

#terrain_single_page .main-right #presentation .btm {
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#terrain_single_page .main-right #presentation .btm p {
  padding: .5rem;
  text-align: left;
}

#terrain_single_page .main-right #presentation .carousel {
  padding: 1rem 0;
}

#terrain_single_page .main-right #presentation .carousel .splide__track, #terrain_single_page .main-right #presentation .carousel .splide__list, #terrain_single_page .main-right #presentation .carousel .splide__slide, #terrain_single_page .main-right #presentation .carousel img {
  all: unset;
}

#terrain_single_page .main-right #presentation .carousel .splide__slide img {
  width: 35%;
  margin: 3vw 2vw;
  border: 1px solid #707070;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#terrain_single_page .main-right #presentation .carousel .splide__slide img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 #5a5a5a;
          box-shadow: 0 4px 8px 0 #5a5a5a;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#terrain_single_page .main-right #presentation .modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.664);
  -webkit-animation: slowAppear .2s ease-in-out;
          animation: slowAppear .2s ease-in-out;
  z-index: 1;
}

#terrain_single_page .main-right #presentation .modal .modal-content {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fefefe;
  border-radius: .5rem;
}

#terrain_single_page .main-right #presentation .modal .modal-content .close {
  position: absolute;
  top: -29px;
  right: -23px;
  font-size: 35px;
}

#terrain_single_page .main-right #presentation .modal .modal-content .close i {
  color: white;
}

#terrain_single_page .main-right #presentation .modal .modal-content .close:hover, #terrain_single_page .main-right #presentation .modal .modal-content .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

#terrain_single_page .main-right #presentation .modal .modal-content .mySlides {
  display: none;
  height: auto;
  max-width: 85vw;
  max-height: 85vh;
  padding: .5rem;
}

#terrain_single_page .main-right #presentation .modal .modal-content .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20% 40%;
}

#terrain_single_page .main-right #presentation .modal .modal-content .arrow .prev,
#terrain_single_page .main-right #presentation .modal .modal-content .arrow .next {
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  padding: .5rem;
  background-color: rgba(90, 88, 88, 0.76);
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

#terrain_single_page .main-right #presentation .modal .modal-content .arrow .prev i,
#terrain_single_page .main-right #presentation .modal .modal-content .arrow .next i {
  color: white;
}

#terrain_single_page .main-right #presentation .modal .modal-content .arrow_prev {
  left: 0;
  padding-left: .5rem;
}

#terrain_single_page .main-right #presentation .modal .modal-content .arrow_next {
  right: 0;
  padding-right: .5rem;
}

#terrain_single_page .main-right #presentation .modal .modal-content .arrow_prev:hover .prev,
#terrain_single_page .main-right #presentation .modal .modal-content .arrow_next:hover .next {
  opacity: 1;
}

#terrain_single_page .main-right #plan_right {
  position: relative;
  height: auto;
  padding: .5rem;
  background-color: #e0e0e0ad;
  margin-bottom: .7rem;
}

#terrain_single_page .main-right #plan_right .click {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem;
  margin: 0 auto 1rem;
  background-color: #87c133;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#terrain_single_page .main-right #plan_right .visit-notice {
  font-size: .9rem;
  font-style: italic;
  padding-bottom: 0.5rem;
}

#terrain_single_page .main-right #plan_right .plan {
  margin: 0;
}

#terrain_single_page .main-right #plan_right .plan .plan_img {
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 730px;
  margin: 0 auto;
}

#terrain_single_page .main-right #plan_right .plan .plan_img > img {
  display: block;
  width: 100%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img .lot {
  position: absolute;
  -webkit-transition: none;
  transition: none;
  line-height: 1;
  width: 14%;
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
}

#terrain_single_page .main-right #plan_right .plan .plan_img .lot > a {
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  text-align: center;
}

#terrain_single_page .main-right #plan_right .plan .plan_img .lot .number {
  font-size: 1rem;
  font-weight: bold;
}

#terrain_single_page .main-right #plan_right .plan .plan_img .lot .tag {
  position: relative;
}

#terrain_single_page .main-right #plan_right .plan .plan_img .lot .tag img {
  width: auto;
}

#terrain_single_page .main-right #plan_right .plan .plan_img .lot .tag span {
  font-size: 12px;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#terrain_single_page .main-right #plan_right .plan .plan_img .lot .visit img {
  width: auto;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1868 {
  left: 49%;
  top: 28%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1869 {
  left: 48%;
  top: 44%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1870 {
  left: 48%;
  top: 60%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1871 {
  left: 50%;
  top: 78%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1872 {
  left: 34%;
  top: 79%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1873 {
  left: 17%;
  top: 73%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1874 {
  left: 19%;
  top: 58%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1875 {
  left: 19%;
  top: 44.5%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1876 {
  left: 19%;
  top: 31%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img #lot1877 {
  left: 19%;
  top: 17%;
}

#terrain_single_page .main-right #plan_right .plan .plan_img .active {
  cursor: pointer;
}

#terrain_single_page .main-right #plan_right .lot_notice {
  font-size: .8rem;
  max-width: 730px;
  padding: .5rem;
  margin: 1rem auto 0;
  background: white;
  border: 1px solid #707070;
}

#terrain_single_page .main-right #plan_right .lot_notice p {
  text-align: center;
  font-style: italic;
}

#terrain_single_page .main-right #plan_right .lot_notice .update_date {
  font-style: normal;
  padding: .5rem;
}

#terrain_single_page .main-right .grille {
  height: auto;
}

#terrain_single_page .main-right .grille .wrapper > * {
  background-color: white;
}

#terrain_single_page .main-right .grille .wrapper > p {
  font-size: .8rem;
  text-align: left;
  padding: 0 2rem;
}

#terrain_single_page .main-right .grille .wrapper > p:first-child {
  padding-top: .5rem;
}

#terrain_single_page .main-right .grille .wrapper .update_date {
  font-size: .6rem;
  text-align: right;
  padding: 0 1rem;
}

#terrain_single_page .main-right .grille .wrapper table {
  font-size: .8rem;
  background: white;
  border-collapse: collapse;
}

#terrain_single_page .main-right .grille .wrapper table th, #terrain_single_page .main-right .grille .wrapper table td {
  border: 1px solid #707070;
  padding: 0 .3rem;
}

#terrain_single_page .main-right .grille .wrapper table th span:nth-child(2) {
  display: none;
}

#terrain_single_page .main-right .grille .wrapper table td {
  white-space: nowrap;
}

#terrain_single_page .main-right .grille .wrapper table tr:hover {
  background-color: #4cb0b29d;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#terrain_single_page .main-right .grille .wrapper table tr:hover th, #terrain_single_page .main-right .grille .wrapper table tr:hover td {
  font-weight: bold;
}

#terrain_single_page .main-right .grille .wrapper table tr:first-child:hover {
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#terrain_single_page .main-right .grille .wrapper table tr button {
  display: block;
  background: #87c133;
  border: none;
  border-radius: 1.4rem;
  color: #ffffff;
  margin: .2rem auto;
  border-radius: 3px;
  cursor: pointer;
}

#terrain_single_page .main-right .grille .wrapper table tr button a {
  display: block;
  font-size: .95rem;
  color: white;
  padding: .75rem 3rem;
}

#terrain_single_page .main-right .grille .wrapper table tr button:hover {
  background: #5a9b00;
}

#terrain_single_page .main-right .grille .wrapper table tr button:focus {
  outline: none;
}

#terrain_single_page .main-right .grille .wrapper table tr button a {
  font-size: .8rem;
  display: inline-block;
  padding: .3rem .5rem;
}

#terrain_single_page .main-right .grille .wrapper table tr button a img {
  width: 1rem;
  margin-right: 10px;
}

#terrain_single_page .main-right .grille .wrapper table tr button:hover {
  background-color: #5a9b00;
}

#terrain_single_page .main-right .grille .wrapper table .active:hover {
  cursor: pointer;
}

#terrain_single_page .main-right .grille .wrapper .notaire_geometre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: .5rem 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#terrain_single_page .main-right .grille .wrapper .notaire_geometre > div {
  padding: .5rem 2rem;
}

#terrain_single_page .main-right .grille .wrapper .notaire_geometre > div h5 {
  color: #87c133;
  font-weight: bold;
  text-align: center;
  padding-bottom: .5rem;
}

#terrain_single_page .main-right .grille .wrapper .notaire_geometre > div p {
  font-size: .8rem;
  padding-bottom: .5rem;
}

#terrain_single_page .main-right .grille .wrapper .notaire_geometre .notaire {
  border-right: 0.5px dashed #707070;
}

#terrain_single_page .main-right .grille .wrapper .info_table {
  padding: .5rem 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#terrain_single_page .main-right .grille .wrapper .info_table p {
  display: block;
}

#terrain_single_page .main-right .grille .wrapper .info_table p > span {
  display: inline-block;
  font-size: .8rem;
  width: 49%;
  vertical-align: top;
}

#terrain_single_page .main-right .grille .wrapper .info_table p > span:first-child {
  text-align: right;
  padding-right: .5rem;
}

#terrain_single_page .main-right .grille .wrapper .info_table p > span:nth-child(2) {
  text-align: left;
}

#terrain_single_page .main-right .grille .wrapper .btm {
  font-size: .8rem;
  text-align: left;
  padding: .5rem;
  margin-top: 1rem;
  background-color: white;
  border: 1px solid #707070;
}
