@charset "utf-8";
@import "index.scss";


// COMMENT CODES FOR SIDEBAR ON THE LEFT AND THE CONTENTS ON THE RIGHT
main {  

  // SIDEBAR ON THE LEFT
  #sidebar-left {
    // position: sticky; min-height: 500px; height: 100vh; top: -100px; float: left; width: 14rem;  background-color: white; padding: 1rem;
     position: relative; float: left; width: 14rem; height: 100%; background-color: white; padding: 1rem; 

    h2 { padding-bottom: 1rem; text-align: center;
      a { font-size: 1.9rem; font-weight: bold; color: $main;}
      &:hover a { color: $text-dark;}
    }

    // SIDEBAR MENU
    .sidebar-menu { @include scrollbar(auto); margin-bottom: 4rem; 
      // h4 { text-align: left; font-size: 1rem; color: $main; font-weight: 400; line-height: 1.3;
      //   strong { color: $main;}
      // }
      // p { margin: 1.5rem .5rem 0 0; font-weight: 100; text-align: left; font-size: 1rem; color: $main; word-break: normal;}
      // .info { font-size: .7rem; height: 60%; overflow-y: auto; @include scrollbar(auto)} 
      
      // // TERRAIN SUB TEXT
      // .sub { height: 90%;}

      // // TERRAIN SUB PROJECT TEXT
      // .projet { font-size: .8rem;}

      // .look { display: block; margin-top: 1rem; font-size: 1rem; text-align: left; background: none; color: $text; font-weight: bold;
      //   &:hover { color: $text-dark;}
      // }

      // SIDEBAR MENU BUTTONS
      button { margin-bottom: .5rem; text-align: left; display: block; width:100%; border-radius: 0;  background: white; outline: none; transition: all .5s ease;
        a { display: block; font-size: .9rem; color: $main; padding: .4rem .5rem;}
        &:hover a { color: $text-dark;}        
      }

      #itineraire {
        i { color: $main; padding-left: 10px; transition: all .5s ease;}   
        &:hover i { color: $text-dark;}    
       }

      .visite_virtuelle,
      #simulaer_un_credit,
      #imprimer { text-align: center; border-radius: 3px; background: $sub; 
        &:hover { background: $button_hover;}
        a { font-size: 1rem; color: white;}
      } 

      // CREATED VISITE VIRTUELLE BUTTON WHEN MAIN TAG HAS A CLASS "VISIT"
      .visite_virtuelle { font-weight: bold; font-style: italic;
        &:hover a { color: white;}
        img { width: 30px; padding-right: 10px; margin-left: -2rem;}
      }
      
      #imprimer { font-size: 1rem; color: white; padding: .4rem .5rem;}
 
      // GOBACK BUTTON AT THE BOTTOM
      #goback { @include buttons; position: absolute; left: 0; right: 0; bottom: 1rem; color: $text; width: auto; margin: 0 auto; 
        a { font-size: .8rem; padding: .4rem 2.5rem; 
          i { font-size: .7rem; color: white; padding-right: .3rem;} 
        }       
      } 
      // END OF GOBACK BUTTON AT THE BOTTOM

    }    
    // END OF SIDEBAR MENU 
    
  }  
  // END OF SIDEBAR ON THE LEFT

  // CONTENTS ON THE RIGHT
  .main-right { width: calc(100% - 14rem); padding: .5rem; height: 100%;
    // .wrapper { padding: .5rem; background-color: $background;}
    > * { height: 100%; padding: .5rem; background-color: $background;}
  }
  // END OF CONTENTS ON THE RIGHT

}
// END OF COMMENT CODES FOR SIDEBAR ON THE LEFT AND THE CONTENTS ON THE RIGHT


//
// MAIN #TERRAIN_SINGLE_PAGE
//
#terrain_single_page { position: relative; 

  // SECTION ON THE RIGHT ON THE TERRAIN_SINGLE_PAGE
  .main-right { float: right; text-align: center;
    
    // LOTISSEMENT NAME
    .header { height: auto; margin-bottom: .5rem; background: white; 
      border-top: 5px solid $background; border-bottom: 5px solid $background;
      // border-top: 5px solid #999999c2; border-bottom: 5px solid #999999c2;
      h2 i { color: $sub;}
    }
    // END OF LOTISSEMENT NAME

    .subheadings { color: white; padding: .5rem 0; margin-bottom: 1rem; background-color: $sub !important; @include box-shadow;}

    // PRESENTATION PAGE
    #presentation { position: relative; padding: .5rem; background-color: $background; height: auto; margin-bottom: .7rem;

      

      // h2 {color: white; padding: .5rem 0; margin-bottom: 1rem; background-color: $sub; @include box-shadow;}
      // h2 {color: $text-dark; padding: .5rem 0; margin-bottom: 1rem; background-color: white; border: 1.5px solid $bars;}


      // VISITE VIRTUELLE BUTTON WHEN MAIN TAG HAS A CLASS "VISIT"
      .visite_virtuelle { display: inline-block; text-align: center; font-style: italic; font-weight: bold; width: 12rem; padding: .4rem .5rem; margin-bottom: 2rem; border-radius: 1rem; background: $sub; outline: none; transition: all .5s ease; 
        &:hover { background: $button_hover;}        
        a {  font-size: 1rem; color: white; margin-left: 1.3rem;
          img { padding-right: 10px; margin-left: -2rem;}
        }
      }
      // END OF VISITE VIRTUELLE

      .btm { padding: 1rem; background: white; @include box-shadow;
        p { padding: .5rem; text-align: left;}
      }
      

      // SPLIDE CAROUSEL 
      // WHEN THERE ARE LESS THAN 3 IMAGES
      .carousel { padding: 1rem 0;
        .splide__track, .splide__list, .splide__slide, img {
          all: unset;
        }
        .splide__slide { 
          img { width: 35%; margin: 3vw 2vw;
          
            border: 1px solid $bars; 
            @include box-shadow;
            &:hover { cursor: pointer; box-shadow: 0 4px 8px 0 rgb(90, 90, 90); transition: all .3s ease-out;}
          }
        }
      }       
      // END OF SPLIDE CAROUSEL 


      // LIGHTBOX 
      .modal { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color:rgba(0, 0, 0, 0.664); animation: slowAppear .2s ease-in-out; z-index: 1;
        .modal-content { display: inline-block; position: relative; padding: 0; margin: auto; top: 50%; transform: translateY(-50%); background-color: #fefefe; border-radius: .5rem;
          
          // CLOSE BUTTON
          .close { position: absolute; top: -29px; right: -23px; font-size: 35px;
            i { color: white;}
            &:hover, 
            &:focus {
              color: #999; text-decoration: none; cursor: pointer;
            }
          } 
          // END OF CLOSE BUTTON

          // PHOTOS
          .mySlides { display: none; height: auto; max-width: 85vw; max-height: 85vh; padding: .5rem;}


          // PREV, NEXT BUTTONS
          .arrow { position: absolute; top: 50%; transform: translateY(-50%); padding: 20% 40%;
            .prev,
            .next {     
              font-size: 2rem; font-weight: bold; width: auto; padding: .5rem; background-color: rgba(90, 88, 88, 0.76); border-radius: 3px; cursor: pointer; opacity: 0; transition: 0.6s ease;
              // user-select: none;
              // -webkit-user-select: none;            
              i { color: white;}
            }
          }

          .arrow_prev { left: 0; padding-left: .5rem;}
          .arrow_next { right: 0; padding-right: .5rem;}
          
          .arrow_prev:hover .prev,
          .arrow_next:hover .next { opacity: 1;}
          // END OF PREV, NEXT BUTTONS
        }
      }    
    }  
    // END OF PRESENTATION PAGE

    // PLAN PAGE
    #plan_right { position: relative; height: auto; padding: .5rem; background-color: $background; margin-bottom: .7rem;
      // h2 {color: white; padding: .5rem 0; margin-bottom: 1rem; background-color: $sub; @include box-shadow;}
      .click { color: white; width: fit-content; padding: .5rem; margin: 0 auto 1rem; background-color: $sub; @include box-shadow;}
      .visit-notice { font-size: .9rem; font-style: italic; padding-bottom: 0.5rem;}
      
      // PLAN IMAGE
      .plan { margin: 0;
        .plan_img { position: relative; @include box-shadow; max-width: 730px; margin: 0 auto;
          > img { display: block; width: 100%;}

          // VENDU & OPTION BUTTONS
          .lot { position: absolute; transition: none;
            line-height: 1; width: 14%;
              display: grid; grid-gap: 2px;
            > a { display: inline-grid; justify-items: center; text-align: center;}
            
            .number { font-size: 1rem; font-weight: bold;}

            .tag { position: relative;
              img { width: auto;}
              span { font-size: 12px; color: white; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);}
            }

            .visit {
              img { width: auto;}
            }
          }     
          // END OF VENDU & OPTION BUTTONS     
          
          // LOCATION OF EACH LOT
          #lot1868 { left: 49%; top: 28%;}
          #lot1869 { left: 48%; top: 44%;}
          #lot1870 { left: 48%; top: 60%;}
          #lot1871 { left: 50%; top: 78%;}
          #lot1872 { left: 34%; top: 79%;}
          #lot1873 { left: 17%; top: 73%;}
          #lot1874 { left: 19%; top: 58%;}
          #lot1875 { left: 19%; top: 44.5%;}
          #lot1876 { left: 19%; top: 31%;}
          #lot1877 { left: 19%; top: 17%;}
          // END OF LOCATOIN OF EACH LOT

          // WHEN "ACTIVE" CLASS ADDED
          .active { cursor: pointer;}          
        }
      }
      // END OF PLAN IMAGE

      // NOTICE AT THE BOTTOM IN THE PLAN PAGE
      .lot_notice { font-size: .8rem; max-width: 730px; padding: .5rem; margin: 1rem auto 0; background: white; border: 1px solid $bars;
        p { text-align: center; font-style: italic;}  
        .update_date { font-style: normal; padding: .5rem; }
      } 
    }
    // END OF PLAN PAGE


    // GRILLE PAGE

    // LOTISSEMENT NAME ON MOBILE
    // .lotissement_name { display: none; padding: .5rem 0;
    //   h3 { font-weight: normal;}
    //   h2 i { color: $sub;}
    // }
        
    .grille { height: auto;

      // WRAPPER
      .wrapper {
        > * { background-color: white;}

        > p { font-size: .8rem; text-align: left; padding: 0 2rem;
            &:first-child { padding-top: .5rem;}
          }
        .update_date { font-size: .6rem; text-align: right; padding: 0 1rem;}

        // LOT INFORMATION TABLE ON THE GRILLE DE PRIX PAGE
        table { font-size: .8rem; background: white; border-collapse: collapse;
          th, td { border: 1px solid $bars; padding: 0 .3rem;}
          th span:nth-child(2) { display: none;}
          td { white-space: nowrap;}

          tr {
            &:hover { background-color: #4cb0b29d;  transition: all .3s ease-out; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              th, td { font-weight: bold;}
            }
            &:first-child:hover { background-color: white; box-shadow: none; }
            button { @include buttons; color: $text; margin: .2rem auto; border-radius: 3px; cursor: pointer;
              a { font-size: .8rem; display: inline-block; padding: .3rem .5rem;
                img { width: 1rem; margin-right: 10px;}
              }
              &:hover { background-color:#5a9b00;}              
            }
          }

          // ADD VISIT VIRTUELLE CLASS
          .active {
            &:hover { cursor: pointer;}
          }
        }
        // END OF LOT INFORMATION TABLE ON THE GRILLE DE PRIX PAGE

        // NOTAIRE & GEOMETRE
        .notaire_geometre { display: grid; grid-template-columns: 1fr 1fr; text-align: left; margin: .5rem 0; @include box-shadow;
          > div { padding: .5rem 2rem;
            h5 { color: $sub; font-weight: bold; text-align: center; padding-bottom: .5rem;}
            p { font-size: .8rem; padding-bottom: .5rem;}
          }
          .notaire { border-right: .5px dashed $bars;}
        }
        // END OF NOTAIRE & GEOMETRE
          
        // LOT PRICE INFORMATION TABLE ON THE GRILLE DE PRIX PAGE
        .info_table { padding: .5rem 0; @include box-shadow;
          p { display: block;          
            > span { display: inline-block; font-size: .8rem; width: 49%; vertical-align: top;
            &:first-child { text-align: right; padding-right: .5rem;}
            &:nth-child(2) { text-align: left;}   
            }
          }
        }
        // END OF LOT PRICE INFORMATION TABLE ON THE GRILLE DE PRIX PAGE
        
        .btm { font-size: .8rem; text-align: left; padding: .5rem; margin-top: 1rem; background-color: white; border: 1px solid $bars;}

      } 
      // END OF WRAPPER  
    } 
    // END OF GRILLE PAGE

  }
  // END OF SECTION ON THE RIGHT ON THE TERRAIN_SINGLE_PAGE
}
// END OF MAIN
